@use "../tools/media-queries" as *;

.obj-grid {
  --grid-size: 6;

  // Default
  --gap: initial;
  --gap-row: initial;
  --gap-col: initial;

  // Default @SM
  --gap-sm: var(--gap);
  --gap-row-sm: var(--gap-row);
  --gap-col-sm: var(--gap-col);

  // Default @MD
  --gap-md: var(--gap-sm);
  --gap-row-md: var(--gap-row-sm);
  --gap-col-md: var(--gap-col-sm);

  // Default @LG
  --gap-lg: var(--gap-md);
  --gap-row-lg: var(--gap-row-md);
  --gap-col-lg: var(--gap-col-md);

  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-auto-rows: minmax(1rem, auto);
  row-gap: var(--gap-row, var(--gap));
  column-gap: var(--gap-col, var(--gap));
  
  @media (min-width: mq('sm')) {
    --grid-size: 6;
    row-gap: var(--gap-row-sm, var(--gap-sm));
    column-gap: var(--gap-col-sm, var(--gap-sm));
  }

  @media (min-width: mq('md')) {
    --grid-size: 8;
    row-gap: var(--gap-row-md, var(--gap-md));
    column-gap: var(--gap-col-md, var(--gap-md));
  }
  
  @media (min-width: mq('lg')) {
    --grid-size: 12;
    row-gap: var(--gap-row-lg, var(--gap-lg));
    column-gap: var(--gap-col-lg, var(--gap-lg));
  }

  &__col {
    // Default
    --start: 1;
    --span: 6;
    --align: start;
    --row-span: 1;
    --row-start: auto;
    --order: auto;
    --position: unset;
    --top: 0;

    // Default @SM
    --start-sm: var(--start);
    --span-sm: var(--span);
    --align-sm: var(--align);
    --row-span-sm: var(--row-span);
    --row-start-sm: var(--row-start);
    --order-sm: var(--order);
    --position-sm: var(--position);
    --top-sm: var(--top);

    // Default @MD
    --start-md: var(--start-sm);
    --span-md: var(--span-sm);
    --align-md: var(--align-sm);
    --row-span-md: var(--row-span-sm);
    --row-start-md: var(--row-start-sm);
    --order-md: var(--order-sm);
    --position-md: var(--position-sm);
    --top-md: var(--top-sm);

    // Default @LG
    --start-lg: var(--start-md);
    --span-lg: var(--span-md);
    --align-lg: var(--align-md);
    --row-span-lg: var(--row-span-md);
    --row-start-lg: var(--row-start-md);
    --order-lg: var(--order-md);
    --position-lg: var(--position-md);
    --top-lg: var(--top-md);

    grid-column: var(--start) / span var(--span);
    grid-row: var(--row-start) / span var(--row-span);
    align-self: var(--align);
    order: var(--order);
    position: var(--position);
    top: var(--top);
    
    @media (min-width: mq('sm')) {
      grid-column: var(--start-sm) / span var(--span-sm);
      grid-row: var(--row-start-sm) / span var(--row-span-sm);
      align-self: var(--align-sm);
      order: var(--order-sm);
      position: var(--position-sm);
      top: var(--top-sm);
    }

    @media (min-width: mq('md')) {
      grid-column: var(--start-md) / span var(--span-md);
      grid-row: var(--row-start-md) / span var(--row-span-md);
      align-self: var(--align-md);
      order: var(--order-md);
      position: var(--position-md);
      top: var(--top-md);
    }
    
    @media (min-width: mq('lg')) {
      grid-column: var(--start-lg) / span var(--span-lg);
      grid-row: var(--row-start-lg) / span var(--row-span-lg);
      align-self: var(--align-lg);
      order: var(--order-lg);
      position: var(--position-lg);
      top: var(--top-lg);
    }
  }
}
