.cmp-button {
  @include unbuttonize;
  @include h5;
  display: inline-block;
  padding: space(md) space(x1);
  color: color(primary);
  background-color: color(aqua);
  cursor: pointer;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;

  &:hover {
    color: color(aqua);
    background-color: color(primary);
  }
}