.cmp-chart-table {
  overflow: auto;
  display: flex;

  @supports (-webkit-overflow-scrolling: touch) {
    overflow-x: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  table:not([class]) {
    width: 100%;
  }

  @supports (mask-type: initial) {
    @media (min-width: $bp-md) {    
      @include visually-hidden;
    }
  }
}
