.cmp-chart-section {
  display: none;
  @supports (mask-type: initial) {
    @media (min-width: $bp-md) {
      display: block;
    }

    @media (min-width: $bp-lg) {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}