@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

@mixin delink {
  // Remove default link styles
  color: inherit;
  text-decoration: none;
}

@mixin delist {
  // Remove default list styles
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin unbuttonize {
  // This removes styles added by default to button elements.
  // For when something should semantically be a button,
  // but isn't buttony in appearance.
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; // Just in case we missed anything.
}

// Auto-generates media queries for looping content
@mixin loop-mq($no-print:null) {
  @content;
  @each $key, $val in $grid-breakpoints {
    @if $key != print {
      @media (min-width: #{$val}) {
        &\@#{$key} {
          @content;
        }
      }
    }
    @else {
      @if $no-print != noprint {
        @media print {
          &\@#{$key} {
            @content;
          }
        }
      }
    }
  }
}

@mixin visually-hidden($status:null) {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); // IE6, IE7
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;

  @if $status == 'disable' {
    position: static !important;
    clip: auto !important;
    height: auto !important;
    width: auto !important;
    overflow: visible;
  }
}

@mixin focus-styles {
  // Disable native outline since we're drawing our own via box-shadow
  outline: none;

  html.safe-focus & {
    // This draws a doubled-up border, which is white and navy. This is to ensure
    // it's visible on all backgrounds. It's marked as !important so this focus
    // state takes effect even when used on elements with higher-specificity
    // box-shadows applied to them. And because focus states are important. :)
    box-shadow:
      0 0 0 2px color(blue),
      0 0 0 4px white !important;
  }
}

@mixin print($state:null) {
  @media print {
    @if $state == hide {
      display: none !important;
    }
    @else {
      @content;
    }
  }
}
