@font-face {
  font-family: 'Yellowtail';
  src: url('/fonts/Yellowtail-Regular-webfont.eot');
  src: url('/fonts/Yellowtail-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Yellowtail-Regular-webfont.woff') format('woff'),
    url('/fonts/Yellowtail-Regular-webfont.ttf') format('truetype'),
    url('/fonts/Yellowtail-Regular-webfont.svg#yellowtailregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
