<table class="table table--simple">
  <th>Categories</th>
  <th>Percentage of Replies</th>
  {{#each chartData}}
    <tr>
      <td class="table__category">{{ this.category }}</td>
      <td><span class="table__value">{{ this.value }}</span><span>%</span></td>
    </tr>
  {{/each}}
</table>