$util-display-values: (
  none,
  block,
  inline,
  inline-block,
  flex,
  inline-flex
);

@each $value in $util-display-values {
  .util-display-#{$value} {
    @include loop-mq {
      display: $value;
    }
  }
}

.util-visually-hidden,
.util-display-visually-hidden {
  @include loop-mq {
    @include visually-hidden();
  }
}

.util-width-full {
  width: 100%;
}

.util-min-height-full {
  min-height: 100vh;
}

$util-flex-values: (
  flex-start,
  flex-end,
  stretch,
  center,
  space-between,
  space-around
);

@each $value in $util-flex-values {
  .util-align-#{$value} {
    @include loop-mq {
      align-items: $value;
    }
  }

  .util-justify-#{$value} {
    @include loop-mq {
      justify-content: $value;
    }
  }
}

.util-justify-end {
  justify-items: end;
}
