.util-font-h1 {
  @include h1;
}

.util-font-h2 {
  @include h2;
}

.util-font-h3 {
  @include h3;
}

.util-font-h4 {
  @include h4;
}

.util-font-h5 {
  @include h5;
}

.util-font-h6 {
  @include h6;
}

.util-font-p {
  @include p;
}

.util-font-p-big {
  @include p-big;
}

.util-link {
  @include default-link;

  @each $key, $val in $colors {
    &-color-#{$key},
    &-color-#{$key}:hover,
    &-color-#{$key}\:active:active,
    &-color-#{$key}\:focus:focus {
      @include default-link;
      --link: #{$val};
      --link-hover: #{$val};
      color: $val;
    }
  }
}

.util-font-size {
  @each $key, $val in $font-sizes {
    &-#{$key} {
      @include loop-mq {
        --font-size: #{$val};
        font-size: $val;
        font-size: var(--font-size);
      }
    }
  }
}