@use "colors";
@use "font-size";
@use "spacer";

:root {
  --font-display: "Sole Sans Hairline", serif;
  --font-text: "Sole Sans", sans-serif;
  
  --max-width: 80rem;
  --hero-max-width: var(--max-width);

  @each $key, $value in font-size.$sizes {
    --size-#{$key}: #{$value};
  }
  
  @each $key, $value in font-size.$numbers {
    --number-#{$key}: #{$value};
  }

  @each $key, $value in colors.$colors {
    --color-#{$key}-val: #{$value};
  }

  @each $key, $value in colors.$colors {
    --color-#{$key}: hsl(var(--color-#{$key}-val));
  }
  
  @each $key, $value in spacer.$spacer {
    --space-#{$key}: #{$value};
  }
  
  --default-duration: 150ms;
  --default-timing: ease-in-out;
  
  --z1: 100;
  --z2: 200;
  --z3: 300;
  --z4: 400;
  --z5: 500;
  --z6: 600;
  --z7: 700;
  --z8: 800;
  --z9: 900;
  --z10: 1000;
}
