@font-face {
  font-family: "Sole Sans";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-sans-vf-regular-extra-condensed/font.woff2') format('woff2-variations'),
  url('https://assets.sparkbox.com/fonts/sole/sole-sans-vf-regular-extra-condensed/font.woff') format('woff-variations');
  font-weight: 300 900;
  font-style: normal;
  font-stretch: 100%;
}

@font-face {
  font-family: "Sole Sans Serif";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-serif-headline-extrabold/font.woff2') format('woff2'),
       url('https://assets.sparkbox.com/fonts/sole/sole-serif-headline-extrabold/font.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sole Sans Serif";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-serif-text-light/font.woff2') format('woff2'),
       url('https://assets.sparkbox.com/fonts/sole/sole-serif-text-light/font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
