[class*="util-fill-style-"] {
  --color: var(--color-neutral-3);
  --bgcolor: var(--color-neutral-1);
  background-repeat: repeat;
  background-position: center;
}

.util-fill-style-1 {
  --color: var(--color-neutral-1);
  --bgcolor: transparent;
  --border: var(--color-neutral-3);
  background: var(--color-neutral-3);
}

.util-fill-style-2 {
  --border: var(--color-neutral-3);
  background: var(--color-neutral-1);
}

.util-fill-style-3 {
  --border: var(--color-neutral-3);
  background-color: var(--color-neutral-1);
  $size: 6; // Sizes the SVG Background Image
  background-image: fill-diagonal(color(neutral-3), $size);
  background-size: #{$size + 0px} #{$size + 0px};
  
  @media (prefers-color-scheme: dark) {	
    background-image: fill-diagonal(color(dark-neutral-3), $size);
  }
}

.util-fill-style-4 {
  --border: var(--color-neutral-3);
  background-color: var(--color-neutral-1);
  $size: 8; // Sizes the SVG Background Image
  $dot: 1; // Sets the SVG Dot Size
  background-image: fill-dots(color(neutral-3), $size, $dot);
  background-size: #{$size + 0px} #{$size + 0px};

  @media (prefers-color-scheme: dark) {	
    background-image: fill-dots(color(dark-neutral-3), $size, $dot);
  }
}

.util-fill-style-5 {
  --border: var(--color-neutral-3);
  background-color: var(--color-neutral-1);
  $size: 8; // Sizes the SVG Background Image
  background-image: fill-hatch(color(neutral-3), $size);
  background-size: #{$size + 0px} #{$size + 0px};

  @media (prefers-color-scheme: dark) {	
    background-image: fill-hatch(color(dark-neutral-3), $size);
  }
}

.util-fill-style-6 {
  --border: var(--color-rust);
  background-color: var(--color-neutral-1);
  $size: 6; // Sizes the SVG Background Image
  background-image: fill-diagonal(color(rust), $size);
  background-size: #{$size + 0px} #{$size + 0px};

  @media (prefers-color-scheme: dark) {	
    background-image: fill-diagonal(color(dark-rust), $size);
  }
}
