a {
  color: inherit;
}

a:not([class]) {
  text-decoration-color: hsla(var(--color-white-val), 0.75);
  transition: text-decoration-color 150ms ease-in-out;

  &:hover {
    text-decoration-color: hsla(var(--color-white-val), 0);
  }
}
