<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WHPGCMR');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/2018/apple-touch-icon.png?v=XBz6lOXXBN">
    <link rel="icon" type="image/png" sizes="32x32" href="/2018/favicon-32x32.png?v=XBz6lOXXBN">
    <link rel="icon" type="image/png" sizes="16x16" href="/2018/favicon-16x16.png?v=XBz6lOXXBN">
    <link rel="manifest" href="/2018/site.webmanifest?v=XBz6lOXXBN">
    <link rel="mask-icon" href="/2018/safari-pinned-tab.svg?v=XBz6lOXXBN" color="#3a3a3a">
    <link rel="shortcut icon" href="/2018/favicon.ico?v=XBz6lOXXBN">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="application-name" content="{{title}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:image" content="/2018/images/og-image.jpg" />
    <link rel="canonical" href="https://designsystemssurvey.seesparkbox.com/2018" />

    {{!--  Font: IBM Plex Serif via Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/2018/css/base.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-611206884"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-611206884'); </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WHPGCMR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="/" class="cmp-latest-link">Check out the results from the latest <span class="cmp-latest-link__styled">Design Systems Survey</span></a>

    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}

    <script src="/2018/js/main.js"></script>
  </body>
</html>
