<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WHPGCMR');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=XBz6lOXXBN">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=XBz6lOXXBN">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=XBz6lOXXBN">
    <link rel="manifest" href="/site.webmanifest?v=XBz6lOXXBN">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=XBz6lOXXBN" color="#3a3a3a">
    <link rel="shortcut icon" href="/favicon.ico?v=XBz6lOXXBN">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="application-name" content="{{title}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta property="og:image" content="/images/og-image.jpg" />

    {{!--  Font: IBM Plex Serif via Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WHPGCMR"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}

    <script src="/js/main.js"></script>
  </body>
</html>
