<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">

    <title>{{title}}</title>

    {{!--  Font: IBM Plex Serif via Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/css/base.css">
    </script>
  </head>
  <body>

    {{#block "body"}}
      {{#block "main"}}

      {{/block}}
    {{/block}}

    <script src="/js/main.js"></script>
  </body>
</html>
