---
reading:
  -
    headline: Keeping Subscribers Engaged in Your Design System
    description: Adoption and continuous engagement are the keys to design system success. Catherine focuses on how to overcome disengagement and maintain subscriber loyalty.
    link: "#"
  -
    headline: Keeping Subscribers Engaged in Your Design System
    description: Adoption and continuous engagement are the keys to design system success. Catherine focuses on how to overcome disengagement and maintain subscriber loyalty.
    link: "#"
  -
    headline: Keeping Subscribers Engaged in Your Design System
    description: Adoption and continuous engagement are the keys to design system success. Catherine focuses on how to overcome disengagement and maintain subscriber loyalty.
    link: "#"
---
<div class="cmp-further-reading">
  <h3 class="cmp-further-reading__header">
    Further Reading
  </h3>
{{#each reading}}
{{> patterns.further-reading.item}}
{{/each}}
</div>
