---
name: Table of Contents
title: Table of Contents
---

<nav class="cmp-toc" id="contents">
  <div class="cmp-toc__inner">
    <h3 class="cmp-toc__heading">Contents</h3>
    <ol class="cmp-toc__list">
      {{#each (data 'sections.sections')}}
        <li class="cmp-toc__item" data-count="{{ numToRomanNumeral (add 1 @index) }}" aria-label="Section {{add 1 @index}}">
          <a class="cmp-toc__link js-smooth-jump-link" href="#{{id}}">{{name}}</a>
        </li>
      {{/each}}
    </ol>
  </div>
</nav>
