---
name: Content
title: Content

sectionText: |

  Maintaining a design system is a big responsibility. Nam eros enim, fermentum quis ex a, tristique volutpat purus. Nulla in faucibus dui, vel scelerisque. Curabitur at nunc malesuada libero eleifend placerat.

  Sed eu dolor faucibus, blandit ipsum eget, tincidunt ligula. Donec eget mollis nunc. Pellentesque luctus in lorem interdum rhoncus. Vestibulum eu nunc nunc. Curabitur nisl nunc, congue a tortor vitae, tempor lobortis neque.
---

<div class="cmp-section-content">
  {{#markdown}}
    {{sectionText}}
  {{/markdown}}
</div>
