//
// FONTS
//
$font-primary: "Sole Sans", sans-serif;
$font-secondary: "Sole Sans Serif", serif;

$font-size: 1rem;
$font-sizes: () !default;
$font-sizes: map-merge(
  (
    xs: $font-size,         // 16px
    sm: $font-size * 1.25,  // 20px
    md: $font-size * 1.5,   // 24px
    lg: $font-size * 2,     // 32px
    x1: $font-size * 2.5,   // 40px
    x2: $font-size * 3.25,  // 52px
    x3: $font-size * 4,     // 64px
  ),
    $font-sizes
  );

//
// LINE HEIGHTS
//
$line-height-normal: 1.5;
$line-height-tight: 1.15;
