@function stretch($key) {
  @return map-get($font-stretch, stringify($key));
}

@function outline($color, $thickness:1) {
  $outline: drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{color($color)}) drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{$color}) drop-shadow(0 0 0.5px #{$color});

  @return $outline;
}

@function stroke($color, $thickness:1px) {
  $pos: $thickness;
  $neg: $thickness * -1;
  $outline: $pos 0 $color, 0 $pos $color, $pos $pos $color,$neg 0 $color, 0 $neg $color, $neg $neg $color, $neg $pos $color, $pos $neg $color;

  @return $outline;
}