@mixin type-hero {
	font-family: var(--font-mono);
	font-size: var(--type-size-hero);
	font-stretch: stretch(normal);
	font-weight: weight(thin);
	letter-spacing: -0.03em;
	line-height: 1;
}

@mixin type-section {
	font-family: var(--font-sans);
	font-size: var(--type-size-section);
	font-stretch: stretch(extended);
	font-weight: weight(regular);
	line-height: 1.2;
}

@mixin type-h2 {
	font-family: var(--font-mono);
	font-stretch: stretch(normal);
	font-size: var(--type-size-h2);
	font-weight: weight(semibold);
	line-height: 1.2;
}

@mixin type-h3 {
	font-family: var(--font-mono);
	font-size: var(--type-size-h3);
	font-stretch: stretch(normal);
	font-weight: weight(medium);
	letter-spacing: 0.06em;
	text-transform: uppercase;
	line-height: 1.2;
}

@mixin type-body-large {
	font-family: var(--font-mono);
	font-size: var(--type-size-body-lg);
	font-stretch: stretch(normal);
	font-weight: weight(light);
	line-height: 1.4;
}

@mixin type-body-mono-large {
	font-family: var(--font-mono);
	font-size: var(--type-size-mono-body-large);
  line-height: 1.4;
	font-stretch: stretch(normal);
	font-weight: weight(semibold);
}

@mixin type-body {
	font-family: var(--font-sans);
	font-size: var(--type-size-body-sm);
  font-weight: weight(light);
	font-stretch: stretch(normal);
	font-stretch: stretch(extended);
}

@mixin type-body-mono {
	font-family: var(--font-mono);
	font-size: var(--type-size-mono-body);
  line-height: 1.3;
	font-stretch: stretch(normal);
	font-weight: weight(semibold);
}

@mixin type-sans-micro {
	font-family: var(--font-sans);
	font-size: var(--type-size-sans-micro);
	font-stretch: stretch(extended);
	font-weight: weight(semibold);
}

@mixin type-mono-micro {
	font-family: var(--font-mono);
	font-size: var(--type-size-mono-micro);
  line-height: 1.3;
	font-stretch: stretch(normal);
	font-weight: weight(exbold);
}
