@use "../tools/typography";
@use "../tools/media-queries" as *;

.cmp-comparison-chart {
  --chart-spacing: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: border-box;
  margin-left: calc(var(--chart-spacing) * -1);
  margin-right: calc(var(--chart-spacing) * -1);
  padding-bottom: 6rem;
  padding-left: var(--chart-spacing);
  position: relative;
  width: calc(100vw - (var(--space-limiter-margin) - var(--chart-spacing)));

  @media (min-width: mq(lg)) {
    overflow: unset;
    margin: 0;
    width: unset;
  }
  
  &__wrapper {
    position: relative;
    display: inline-flex;
    padding-right: 4rem;

    @media (min-width: mq(lg)) {
      display: flex;
      padding-right: 0;
    }
  }

  &__y-axis {
    background-color: var(--color-black);
    z-index: var(--z3);
    position: sticky;
    top: 0;
    padding-bottom: 2%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding-right: var(--space-sm);
  }

  &__y-axis-item {
    @include typography.style("body-small");
  }

  &__y-axis-label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    background-color: var(--color-black);
    writing-mode: vertical-lr;
    text-align: center;
    @include typography.style("body-details");
    
    @media (min-width: mq(lg)) {
      padding-right: var(--space-sm);
    }
  }

  &__x-axis {
    position: absolute;
    top: 100%;
    left: 2.4375rem; // 39px
    right: 4.1875rem; // 67px
    display: inline-flex;
    justify-content: space-between;

    @media (min-width: mq(lg)) {
      display: flex;
      gap: var(--space-md);
      right: 0;
    }
  }

  &__x-axis-item {
    @include typography.style("body-small");
    line-height: 1.2;
    text-align: center;
    flex: 2 2 6rem;
    width: 6rem;
    position: relative;

    &:first-child {
      margin-left: -3rem;
    }

    &:last-child {
      margin-right: -3rem;
    }
  }

  &__container {
    position: relative;
    line-height: 0.75;
    min-height: 30rem;
    aspect-ratio: 900 / 422;
    
    @media (min-width: mq(lg)) {
      min-height: 28rem;
      width: 100%;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index: var(--z3);
      width: 5rem;
      height: 100%;
      right: calc(33.333% - 2.5rem);
      mix-blend-mode: hard-light;
      background-size: 100% 150%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: radial-gradient(100% 100%,
                                        hsla(var(--color-pink-1-val), 0.4) 5%, 10%,
                                        hsla(var(--color-pink-2-val), 0.3) 20%,
                                        hsla(var(--color-black-val), 0) 30%);
    }
  }
  
  &__svg {
    max-width: unset;
    min-height: 25rem;
    width: 100%;
    position: absolute;
    inset: 0 1.5rem 0 0;
  }
}
