@use "../tools/media-queries" as *;
@use "../tools/typography";
@use "../tools/fills";
@use "../tools/color";
@use "../tools/svg" as img;

.cmp-gauge {
  --gauge-value: 0;

  &__value {
    position: relative;
    padding-bottom: 100%;
    
    @supports (aspect-ratio: 1 / 1) {
      padding-bottom: 0;
      aspect-ratio: 1 / 1;
    }
  }
  
  &__value::before {
    --percent: calc(var(--gauge-value) / 100);
    --deg: calc(360deg * var(--percent));
    content: '';
    display: block;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      conic-gradient(
        var(--color-gray) 0deg,
        var(--color-gray) var(--deg),
        transparent var(--deg)) no-repeat,
      fills.dots(color.alpha('gray', 0.8), 6, 0.5) repeat fixed;
    mask-image: img.svg('<svg height="10" width="10" viewBox="0 0 10 10" fill="none"><circle cx="5" cy="5" stroke="#000" vector-effect="non-scaling-stroke" stroke-width="10" r="4.5" /></svg>');
    mask-size: contain;
    
    @media(min-width: mq(sm)) {
      mask-image: img.svg('<svg height="10" width="10" viewBox="0 0 10 10" fill="none"><circle cx="5" cy="5" stroke="#000" vector-effect="non-scaling-stroke" stroke-width="16" r="4.5" /></svg>');
    }
  }
  
  &__percent {
    @include typography.number('medium');
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--large {
      font-size: var(--number-large);
    }
  }
  
  &__title {
    @include typography.style('body-default');
    text-align: center;
    margin-top: var(--space-md);
  }
}
