@use "../tools/typography";
@use "../tools/fills";
@use "../tools/color";
@use "../tools/media-queries" as *;

.cmp-key-finding {
  background-color: var(--color-black);
  position: relative;
  margin: var(--space-20vh) 0;
  
  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
  }
  
  &::before {
    inset: -0.75rem;
    background: fills.dots(color.alpha('gray', 0.8), 6, 0.5) repeat fixed;
    z-index: var(--z1);

    @media (min-width: mq(sm)) {
      inset: -1.5rem;
    }
  }
  
  &::after {
    inset: 0;
    background-color: var(--color-black);
    z-index: calc(var(--z1) + 1);
  }
  
  &__content {
    position: relative;
    z-index: calc(var(--z1) + 2);
    padding: var(--space-1xl) 0 var(--space-2xl);
  }
  
  &__title {
    @include typography.style('body-default');
    border-top: 1px solid var(--color-dark);
    padding-top: var(--space-sm);
  }
  
  &__text {
    @include typography.style('heading-2');
    line-height: 1.25;
    margin: var(--space-lg) 0 0;
  }
}
