@use "../tools/typography";

.cmp-number {
  border-top: 1px solid var(--color-dark);
  display: flex;
  justify-content: space-between;
  gap: var(--space-lg);

  &--small {
    padding: 1rem 0;
  }

  &--large {
    padding: 1.75rem 0;
  }

  &__value {
    text-align: left;
    line-height: 0.75;

    @media (prefers-reduced-motion: no-preference) {
      .animation-ready & {
        transform: translateX(-2rem);
        transition: transform var(--animation-duration) var(--default-timing);
      }
  
      .animation-ready.fade & {
        transform: translateX(0);
      }
    }

    &--small {
      @include typography.number('medium');
    }

    &--large {
      @include typography.number('xlarge');
    }
  }
  
  &__title {
    text-align: right;

    @media (prefers-reduced-motion: no-preference) {
      .animation-ready & {
        transform: translateX(2rem);
        transition: transform var(--animation-duration) var(--default-timing);
      }

      .animation-ready.fade & {
        transform: translateX(0);
      }
    }

    &--small {
      @include typography.style('body-default');
      line-height: 1.2;
    }
    
    &--large {
      @include typography.style('body-xlarge');
    }
  }
}
