@use "../tools/typography";
@use "../tools/fills";
@use "../tools/color";

.cmp-quote {
  margin: var(--space-20vh) 0;
  padding: var(--space-1xl) 0 var(--space-2xl);
  background: fills.diagonal(color.alpha('dark', 0.2), 8) repeat fixed;

  &__text {
    @include typography.style('heading-3');
    margin: 0 0 var(--space-lg);
    
    &::before {
      font-family: var(--font-display);
      font-size: 8rem;
      content: '\201C';
      display: block;
      line-height: 0.75;
    }
    
    .animation-ready & {
      transform: scale(0.9);
      transition: transform var(--animation-duration) var(--default-timing);
    }
    
    .animation-ready.grow-large & {
      transform: scale(1);
    }
  }

  &__source {
    @include typography.style('body-default');
    margin: 0;
    
    .animation-ready & {
      transform: scale(0.9);
      transition: transform var(--animation-duration) var(--default-timing);
    }
    
    .animation-ready.grow-large & {
      transform: scale(1);
    }
  }
}