@use "../tools/typography" as type;

.cmp-related-reading {
  border-top: 1px solid var(--color-dark);
  padding-top: var(--space-sm);
  margin-top: var(--space-10vh);
  margin-bottom: var(--space-20vh);
  
  &__link {
    text-decoration: none;
    display: block;
    
    & + & {
      margin-top: var(--space-1xl);
    }
  }
  
  &__image {
    box-shadow: 0 0 0 0 var(--color-black), 0 0 0 0 var(--color-dark);
    transition: box-shadow var(--default-duration) var(--default-timing);
  }
  
  &__link:hover &__image {
    box-shadow: 0 0 0 2px var(--color-black), 0 0 0 6px var(--color-dark);
  }
  
  &__title {
    @include type.style('body-xlarge');
    font-weight: 400;
    margin: 0;
  }
  
  &__arrow {
    margin-left: var(--space-sm);
    transition: margin-left var(--default-duration) var(--default-timing);
  }
  
  &__link:hover &__arrow {
    margin-left: var(--space-md);
  }
}