@use "../tools/space" as *;
@use "../tools/typography" as type;

.cmp-related-reading {
  border-top: 1px solid var(--color-gray);
  padding-top: space('sm');
  margin-top: space('10vh');
  margin-bottom: space('20vh');
  
  &__link {
    text-decoration: none;
  }
  
  &__image {
    box-shadow: 0 0 0 0.125rem var(--color-black),0 0 0 0 var(--color-white);
    transition: box-shadow var(--default-duration) var(--default-timing);
  }
  
  &__link:hover &__image {
    box-shadow: 0 0 0 0.25rem var(--color-black),0 0 0 0.375rem var(--color-white);
  }
  
  &__title {
    @include type.style('body-xlarge');
    font-weight: 400;
    margin: 0;
  }
  
  &__arrow {
    margin-left: space('sm');
    transition: margin-left var(--default-duration) var(--default-timing);
  }
  
  &__link:hover &__arrow {
    margin-left: space('md');
  }
}