@use "../tools/typography";
@use "../tools/svg" as *;
@use "../tools/color" as *;
@use "../tools/media-queries" as *;

.cmp-section-header {
  box-sizing: border-box;
  padding: var(--space-10vh) var(--space-limiter-margin) 0;
  margin: 0 calc(var(--space-limiter-margin) * -1) var(--space-10vh);
  position: relative;
  overflow: hidden;
  
  &::after {
    --max-size: 40rem;
    content: '';
    display: block;
    height: min(50vmin, var(--max-size));
    width: min(50vmin, var(--max-size));
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    mix-blend-mode: hard-light;
  }
  
  @for $i from 1 through 6 {
    &--item-#{$i}::after {
      background-image: url('/images/2022/section-#{$i}.svg');
    }
  }
  

  &__title {
    @include typography.style('heading-1');
    line-height: 1;
    position: relative;
    padding-top: var(--space-1xp);
    min-height: var(--space-2xl);
    display: grid;
    grid-template-columns: minmax(3rem, max-content) auto;
    align-items: end;
    gap: var(--space-sm);

    &::before {
      pointer-events: none;
      font-family: var(--font-text);
      @include typography.number('small');
      content: '0' attr(data-number);
      align-self: stretch; // stretches item within the parent grid
      display: inline-flex;
      place-items: start;
      padding-right: 2em; // scales the padding the fluid font size
      color: var(--color-gray);
      background: svg('<svg width="290" height="439"><path d="m287 2.327-284 435" stroke="#{color(dark)}" stroke-width="5"/></svg>') no-repeat top right / contain;
    }
  }
  
  p {
    @include typography.style('section-description');
  }
}
