@font-face {
  font-family: Inconsolata;
  src: url('/fonts/2021/Inconsolata.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Sole Sans";
  src: url('/fonts/2021/SoleSans.woff2') format('woff2-variations');
  font-weight: 400 800;
  font-style: normal;
  font-stretch: 130%;
}
