@font-face {
  font-family: Inconsolata;
  src: url("/fonts/2021/Inconsolata.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Sole Sans";
  src: url("/fonts/2021/SoleSans.woff2") format("woff2-variations");
  font-weight: 400 800;
  font-style: normal;
}
@font-face {
  font-family: "Sole Sans";
  src: url("/fonts/2021/SoleSansItalic.woff2") format("woff2-variations");
  font-weight: 400 800;
  font-style: italic;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*:not([tabindex="-1"]):focus {
  outline: none;
}
html.safe-focus *:not([tabindex="-1"]):focus {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white !important;
}

button:-moz-focusring {
  outline: none;
}
html.safe-focus button:-moz-focusring {
  box-shadow: 0 0 0 2px black, 0 0 0 4px white !important;
}

:root {
  --color-rust: #d75333;
  --color-neutral-1: #fffefa;
  --color-neutral-2: #fbf8ee;
  --color-neutral-3: #201e18;
  --color-white: white;
  --font-mono: Inconsolata, Monaco, monospace;
  --font-sans: Sole Sans, sans-serif;
  --type-size-sans-micro: 0.75rem;
  --type-size-mono-micro: 0.875rem;
  --type-size-body-sm: 0.9375rem;
  --type-size-body-lg: 1.0625rem;
  --type-size-h3: 1.375rem;
  --type-size-h2: 1.875rem;
  --type-size-section: 2.5rem;
  --type-size-hero: 5.5rem;
}
@media (min-width: 50rem) {
  :root {
    --type-size-h3: 1.625rem;
    --type-size-h2: 2.25rem;
    --type-size-section: 3rem;
    --type-size-hero: 9rem;
  }
}

body {
  font-family: var(--font-sans);
  color: var(--color-neutral-3);
  background-color: var(--color-neutral-1);
}

h1:not([class]) {
  font-family: var(--font-sans);
  font-size: var(--type-size-section);
  font-stretch: 130%;
  font-weight: 400;
}

h2:not([class]) {
  font-family: var(--font-mono);
  font-size: var(--type-size-h2);
  font-weight: 600;
}

h3:not([class]) {
  font-family: var(--font-mono);
  font-size: var(--type-size-h3);
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

p:not([class]) {
  font-family: var(--font-sans);
  font-size: var(--type-size-body-sm);
  font-stretch: 130%;
}

.obj-max-width {
  width: calc(100% - 1.5rem);
  max-width: 90rem;
  margin: 0 auto;
}
@media (min-width: 60rem) {
  .obj-max-width {
    width: calc(100% - 4rem);
  }
}

.obj-grid {
  --grid-size: 41
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-auto-rows: minmax(1rem, auto);
}
@media (min-width: 50rem) {
  .obj-grid {
    --grid-size: 8;
  }
}
@media (min-width: 80rem) {
  .obj-grid {
    --grid-size: 12;
  }
}
.obj-grid__col {
  grid-column: var(--start)/span var(--span);
  grid-row: span var(--row-span);
  align-self: var(--align);
}
@media (min-width: 50rem) {
  .obj-grid__col {
    grid-column: var(--start-md)/span var(--span-md);
    grid-row: span var(--row-span-md);
    align-self: var(--align-md);
  }
}
@media (min-width: 80rem) {
  .obj-grid__col {
    grid-column: var(--start-lg)/span var(--span-lg);
    grid-row: span var(--row-span-lg);
    align-self: var(--align-lg);
  }
}

.obj-lines {
  --color: rgba(32, 30, 24, 0.05);
  --columns: 2;
  --size: calc(100% / var(--columns));
  --step-1: calc(var(--size) * 1);
  --step-2: calc(var(--size) * 2);
  --step-3: calc(var(--size) * 3);
  --step-4: calc(var(--size) * 4);
  --step-5: calc(var(--size) * 5);
  padding: 0;
  background-image: linear-gradient(90deg, var(--color) 1px, transparent 2px, transparent calc(var(--step-1) - 1px), var(--color) var(--step-1), transparent calc(var(--step-1) + 1px), transparent calc(100% - 2px), var(--color) 100%);
}
@media (min-width: 50rem) {
  .obj-lines {
    --columns: 4;
    background-image: linear-gradient(90deg, var(--color) 1px, transparent 2px, transparent calc(25% - 1px), var(--color) 25%, transparent calc(25% + 1px), transparent calc(50% - 1px), var(--color) 50%, transparent calc(50% + 1px), transparent calc(75% - 1px), var(--color) 75%, transparent calc(75% + 1px), transparent calc(100% - 2px), var(--color) 100%);
  }
}
@media (min-width: 80rem) {
  .obj-lines {
    --columns: 6;
    background-image: linear-gradient(90deg, var(--color) 1px, transparent 2px, transparent calc(var(--step-1) - 1px), var(--color) var(--step-1), transparent calc(var(--step-1) + 1px), transparent calc(var(--step-2) - 1px), var(--color) var(--step-2), transparent calc(var(--step-2) + 1px), transparent calc(var(--step-3) - 1px), var(--color) var(--step-3), transparent calc(var(--step-3) + 1px), transparent calc(var(--step-4) - 1px), var(--color) var(--step-4), transparent calc(var(--step-4) + 1px), transparent calc(var(--step-5) - 1px), var(--color) var(--step-5), transparent calc(var(--step-5) + 1px), transparent calc(100% - 2px), var(--color) 100%);
  }
}

.cmp-type-hero {
  font-family: var(--font-mono);
  font-size: var(--type-size-hero);
  font-weight: 100;
  letter-spacing: -0.03em;
  line-height: 1;
}

.cmp-type-section {
  font-family: var(--font-sans);
  font-size: var(--type-size-section);
  font-stretch: 130%;
  font-weight: 400;
}

.cmp-type-h2 {
  font-family: var(--font-mono);
  font-size: var(--type-size-h2);
  font-weight: 600;
}

.cmp-type-h3 {
  font-family: var(--font-mono);
  font-size: var(--type-size-h3);
  font-weight: 600;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.cmp-type-body-large {
  font-family: var(--font-sans);
  font-size: var(--type-size-body-lg);
  font-stretch: 130%;
}

.cmp-type-body {
  font-family: var(--font-sans);
  font-size: var(--type-size-body-sm);
  font-stretch: 130%;
}

.cmp-type-sans-micro {
  font-family: var(--font-sans);
  font-size: var(--type-size-sans-micro);
  font-stretch: 130%;
  font-weight: 700;
}

.cmp-type-mono-micro {
  font-family: var(--font-mono);
  font-size: var(--type-size-mono-micro);
  font-weight: 800;
}

.util-color-rust {
  color: var(--color-rust);
}

.util-color-neutral-1 {
  color: var(--color-neutral-1);
}

.util-color-neutral-2 {
  color: var(--color-neutral-2);
}

.util-color-neutral-3 {
  color: var(--color-neutral-3);
}

.util-color-white {
  color: var(--color-white);
}

/* BEGIN: Sparkle Utility Classes */
.util-antialiased {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

.util-clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.util-delink {
  color: inherit;
  text-decoration: none;
}

.util-delist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.util-unbuttonize {
  background-color: transparent;
  color: inherit;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

.util-visually-hidden {
  position: fixed;
  right: 100%;
  bottom: 100%;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.util-visually-hidden:focus {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  clip: auto;
  clip-path: none;
}
@media (min-width: 36rem) {
  .util-visually-hidden\@sm {
    position: fixed;
    right: 100%;
    bottom: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
  .util-visually-hidden\@sm:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    clip: auto;
    clip-path: none;
  }
}
@media (min-width: 50rem) {
  .util-visually-hidden\@md {
    position: fixed;
    right: 100%;
    bottom: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
  .util-visually-hidden\@md:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    clip: auto;
    clip-path: none;
  }
}
@media (min-width: 60rem) {
  .util-visually-hidden\@lg {
    position: fixed;
    right: 100%;
    bottom: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
  .util-visually-hidden\@lg:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    clip: auto;
    clip-path: none;
  }
}
@media (min-width: 80rem) {
  .util-visually-hidden\@xl {
    position: fixed;
    right: 100%;
    bottom: 100%;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
  }
  .util-visually-hidden\@xl:focus {
    left: 0;
    right: auto;
    top: 0;
    bottom: auto;
    clip: auto;
    clip-path: none;
  }
}

.util-align-self-start {
  align-self: start;
}
@media (min-width: 36rem) {
  .util-align-self-start\@sm {
    align-self: start;
  }
}
@media (min-width: 50rem) {
  .util-align-self-start\@md {
    align-self: start;
  }
}
@media (min-width: 60rem) {
  .util-align-self-start\@lg {
    align-self: start;
  }
}
@media (min-width: 80rem) {
  .util-align-self-start\@xl {
    align-self: start;
  }
}

.util-align-self-end {
  align-self: end;
}
@media (min-width: 36rem) {
  .util-align-self-end\@sm {
    align-self: end;
  }
}
@media (min-width: 50rem) {
  .util-align-self-end\@md {
    align-self: end;
  }
}
@media (min-width: 60rem) {
  .util-align-self-end\@lg {
    align-self: end;
  }
}
@media (min-width: 80rem) {
  .util-align-self-end\@xl {
    align-self: end;
  }
}

.util-align-self-flex-start {
  align-self: flex-start;
}
@media (min-width: 36rem) {
  .util-align-self-flex-start\@sm {
    align-self: flex-start;
  }
}
@media (min-width: 50rem) {
  .util-align-self-flex-start\@md {
    align-self: flex-start;
  }
}
@media (min-width: 60rem) {
  .util-align-self-flex-start\@lg {
    align-self: flex-start;
  }
}
@media (min-width: 80rem) {
  .util-align-self-flex-start\@xl {
    align-self: flex-start;
  }
}

.util-align-self-flex-end {
  align-self: flex-end;
}
@media (min-width: 36rem) {
  .util-align-self-flex-end\@sm {
    align-self: flex-end;
  }
}
@media (min-width: 50rem) {
  .util-align-self-flex-end\@md {
    align-self: flex-end;
  }
}
@media (min-width: 60rem) {
  .util-align-self-flex-end\@lg {
    align-self: flex-end;
  }
}
@media (min-width: 80rem) {
  .util-align-self-flex-end\@xl {
    align-self: flex-end;
  }
}

.util-align-self-center {
  align-self: center;
}
@media (min-width: 36rem) {
  .util-align-self-center\@sm {
    align-self: center;
  }
}
@media (min-width: 50rem) {
  .util-align-self-center\@md {
    align-self: center;
  }
}
@media (min-width: 60rem) {
  .util-align-self-center\@lg {
    align-self: center;
  }
}
@media (min-width: 80rem) {
  .util-align-self-center\@xl {
    align-self: center;
  }
}

.util-align-self-stretch {
  align-self: stretch;
}
@media (min-width: 36rem) {
  .util-align-self-stretch\@sm {
    align-self: stretch;
  }
}
@media (min-width: 50rem) {
  .util-align-self-stretch\@md {
    align-self: stretch;
  }
}
@media (min-width: 60rem) {
  .util-align-self-stretch\@lg {
    align-self: stretch;
  }
}
@media (min-width: 80rem) {
  .util-align-self-stretch\@xl {
    align-self: stretch;
  }
}

.util-order-minus-1 {
  order: -1;
}
@media (min-width: 36rem) {
  .util-order-minus-1\@sm {
    order: -1;
  }
}
@media (min-width: 50rem) {
  .util-order-minus-1\@md {
    order: -1;
  }
}
@media (min-width: 60rem) {
  .util-order-minus-1\@lg {
    order: -1;
  }
}
@media (min-width: 80rem) {
  .util-order-minus-1\@xl {
    order: -1;
  }
}

.util-order-0 {
  order: 0;
}
@media (min-width: 36rem) {
  .util-order-0\@sm {
    order: 0;
  }
}
@media (min-width: 50rem) {
  .util-order-0\@md {
    order: 0;
  }
}
@media (min-width: 60rem) {
  .util-order-0\@lg {
    order: 0;
  }
}
@media (min-width: 80rem) {
  .util-order-0\@xl {
    order: 0;
  }
}

.util-order-1 {
  order: 1;
}
@media (min-width: 36rem) {
  .util-order-1\@sm {
    order: 1;
  }
}
@media (min-width: 50rem) {
  .util-order-1\@md {
    order: 1;
  }
}
@media (min-width: 60rem) {
  .util-order-1\@lg {
    order: 1;
  }
}
@media (min-width: 80rem) {
  .util-order-1\@xl {
    order: 1;
  }
}

.util-order-2 {
  order: 2;
}
@media (min-width: 36rem) {
  .util-order-2\@sm {
    order: 2;
  }
}
@media (min-width: 50rem) {
  .util-order-2\@md {
    order: 2;
  }
}
@media (min-width: 60rem) {
  .util-order-2\@lg {
    order: 2;
  }
}
@media (min-width: 80rem) {
  .util-order-2\@xl {
    order: 2;
  }
}

.util-order-3 {
  order: 3;
}
@media (min-width: 36rem) {
  .util-order-3\@sm {
    order: 3;
  }
}
@media (min-width: 50rem) {
  .util-order-3\@md {
    order: 3;
  }
}
@media (min-width: 60rem) {
  .util-order-3\@lg {
    order: 3;
  }
}
@media (min-width: 80rem) {
  .util-order-3\@xl {
    order: 3;
  }
}

.util-order-4 {
  order: 4;
}
@media (min-width: 36rem) {
  .util-order-4\@sm {
    order: 4;
  }
}
@media (min-width: 50rem) {
  .util-order-4\@md {
    order: 4;
  }
}
@media (min-width: 60rem) {
  .util-order-4\@lg {
    order: 4;
  }
}
@media (min-width: 80rem) {
  .util-order-4\@xl {
    order: 4;
  }
}

.util-order-5 {
  order: 5;
}
@media (min-width: 36rem) {
  .util-order-5\@sm {
    order: 5;
  }
}
@media (min-width: 50rem) {
  .util-order-5\@md {
    order: 5;
  }
}
@media (min-width: 60rem) {
  .util-order-5\@lg {
    order: 5;
  }
}
@media (min-width: 80rem) {
  .util-order-5\@xl {
    order: 5;
  }
}

/* END: Sparkle Utility Classes */

/*# sourceMappingURL=base.css.map */
