/* Error: expected ";".
 *   ,
 * 9 |     font-weight: weight(regular);
 *   |                ^
 *   '
 *   tools/_type.scss 9:13  @import
 *   base.scss 45:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a   \2577 \a 9 \2502      font-weight: weight(regular);\a   \2502                 ^\a   \2575 \a   tools/_type.scss 9:13  @import\a   base.scss 45:9         root stylesheet';
}
