.cmp-survey-question {
  margin: 0 0 $space-xl;

  &__text {
    font-size: 1.125rem;

    @media (min-width: $bp-text-size-bump-1) {
      font-size: 1.25rem;
    }

    font-weight: bold;
    line-height: 1.4;

    // Contain absolute "Q:"
    position: relative;

    margin: 0 0 $space-md;

    &::before {
      content: "Q:";
      position: absolute;

      right: 100%;
      margin-right: 0.5rem;

      font-size: 0.75rem;
      top: 0.45em;
    }
  }

  &__meta {
    font-size: 0.75rem;
    font-weight: bold;
    letter-spacing: 0.0625em;

    text-transform: uppercase;

    color: #717171;

    // Used for a slightly lighter font
    @include disable-subpixel-font-rendering;

    &__item {
      display: inline-block;

      &:not(:first-child) {
        padding-left: $space-sm;
        margin-left: $space-sm;

        border-left: 1px solid #ddd;
      }

      & + & {
      }
    }
  }
}
