.cmp-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 100vh;
  padding: 3rem;

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.125rem;
    opacity: 0.3;
  }
}
