.cmp-diagram {
  width: calc(100% - 2rem);
  margin: 0 auto;

  // Hide the table unless it has keyboard focus since it
  // is an accessible version of the chart
  &__table {
    max-width: $max-width;
    margin: 2rem auto;
    overflow: auto;
    @include visually-hidden;

    &:focus {
      position: inherit !important;
      width: auto !important;
      height: auto !important;

      + .cmp-row-chart,
      + .cmp-diagram__chart {
        display: none !important; // When the table receives focus, hide the chart.
      }
    }

    @media (min-width: $bp-md) {
      @include visually-hidden;
    }

    &--vertical {
      @include visually-hidden(disable);
      display: block;

      @media (min-width: $bp-md) {
        @include visually-hidden;
      }
    }

    .lt-ie10 & {
      @include visually-hidden(disable);
    }

    @include print {
      display: block;
      overflow: visible;
    }
  }

  &__chart {
    display: block;

    &--vertical {
      @media (min-width: $bp-md) {
        display: block;
      }
    }

    .lt-ie10 & {
      @include visually-hidden;
    }

    @include print(hide);
  }
}
