---
name: Footer
title: Footer
---
<footer class="cmp-footer">
  <section class="cmp-footer__section cmp-footer__section--madeby">
    <h2 class="cmp-footer__sparkbox">Assembled by your<br>friends at <strong><a href="https://seesparkbox.com" class="cmp-footer__link">Sparkbox</a></strong>.</h2>
    <p class="cmp-footer__copyright">&copy; 2018 Sparkbox.<br>All rights reserved.</p>
  </section>

  <section class="cmp-footer__section cmp-footer__section--contact cmp-footer__section--double">
    <div class="cmp-footer__contact-group">
      <h2 class="cmp-footer__section-heading">Email</h2>
      <p class="cmp-footer__contact-info"><a href="https://seesparkbox.com/work-with-us" class="cmp-footer__link">/work-with-us</a></p>
    </div>
    <div class="cmp-footer__contact-group">
      <h2 class="cmp-footer__section-heading">Call Us</h2>
      <p class="cmp-footer__contact-info"><a href="tel:+19374010915" class="cmp-footer__link">937 401 0915</a></p>
    </div>
  </section>

  <section class="cmp-footer__section cmp-footer__section--locations cmp-footer__section--double">
    <address class="cmp-footer__address">
      <h2 class="cmp-footer__section-heading">
        <a href="https://www.google.com/maps/place/123+Webster+St.,+Dayton,+OH+45402" class="cmp-footer__link">
          Gem City
        </a>
      </h2>
      <p class="cmp-footer__address-info">
        <div>123 Webster St.</div>
        <div>Studio 2</div>
        <div>
          <span class="locality">Dayton</span>,
          <abbr class="region cmp-footer__address-abbr" title="Ohio">OH</abbr>
          <span class="postal-code">45402</span>
        </div>
      </p>
    </address>
    <address class="cmp-footer__address">
      <h2 class="cmp-footer__section-heading">
        <a href="https://www.google.com/maps/place/1+PPG+Place,+Pittsburgh,+PA+15222" class="cmp-footer__link">
          Steel City
        </a>
      </h2>
      <p class="cmp-footer__address-info">
        <div>One PPG Place</div>
        <div>Foor 31</div>
        <div>
          <span class="locality">Pittsburgh</span>,
          <abbr class="region cmp-footer__address-abbr" title="Pennsylvania">PA</abbr>
          <span class="postal-code">15222</span>
        </div>
      </p>
    </address>
  </section>

  <section class="cmp-footer__section cmp-footer__section--social">
    <nav>
      <ul class="cmp-footer__social-list">
        <li class="cmp-footer__social-item">
          <a href="https://github.com/sparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>GitHub</title>
              <path fill="currentColor" d="M16 .4a16 16 0 0 0-5 31.2c.7.1 1-.4 1-.8v-3c-4.4 1-5.4-1.9-5.4-1.9-.7-1.8-1.8-2.3-1.8-2.3-1.4-1 .2-1 .2-1 1.6.1 2.4 1.7 2.4 1.7 1.4 2.4 3.8 1.7 4.7 1.3a3 3 0 0 1 1-2.1c-3.6-.4-7.3-1.8-7.3-8a6 6 0 0 1 1.6-4.2c-.1-.4-.7-2 .2-4.3 0 0 1.3-.4 4.4 1.7a15.4 15.4 0 0 1 8 0C23 6.6 24.4 7 24.4 7c.9 2.2.3 3.9.2 4.3a6 6 0 0 1 1.6 4.3c0 6.1-3.7 7.5-7.3 7.9.6.4 1 1.4 1 3v4.3c0 .4.4 1 1.2.8A16 16 0 0 0 16 .4z"/>
            </svg>
          </a>
        </li>
        <li class="cmp-footer__social-item">
          <a href="https://twitter.com/hearsparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="26" viewBox="0 0 32 26">
              <title>Twitter</title>
              <path fill="currentColor" d="M32 3a13 13 0 0 1-3.8 1.1 6.6 6.6 0 0 0 3-3.6c-1.4.7-2.8 1.3-4.3 1.6a6.6 6.6 0 0 0-11.1 6A18.6 18.6 0 0 1 2.2 1.2a6.6 6.6 0 0 0 2 8.8c-1 0-2-.4-3-.9v.1c0 3.2 2.3 5.9 5.4 6.5a6.6 6.6 0 0 1-3 0 6.6 6.6 0 0 0 6.1 4.6A13.2 13.2 0 0 1 0 23.1 18.6 18.6 0 0 0 28.7 6.5C30 5.5 31.1 4.4 32 3z"/>
            </svg>
          </a>
        </li>
        <li class="cmp-footer__social-item">
          <a href="https://codepen.io/team/sparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
              <title>CodePen</title>
              <path fill="currentColor" d="M29.6 9.5L15.6.2a1 1 0 0 0-1.2 0L.4 9.5a1 1 0 0 0-.4.8v9.4c0 .3.2.6.4.8l14 9.3a1 1 0 0 0 1.2 0l14-9.3c.2-.2.4-.5.4-.8v-9.4a1 1 0 0 0-.4-.8zm-14.6 9L9.8 15l5.2-3.5 5.2 3.5-5.2 3.5zm1-8.7v-7l11.2 7.5-5.2 3.5-6-4zm-2 0l-6 4-5.2-3.5L14 3v6.9zM6.2 15L2 17.8v-5.6L6.2 15zM8 16.2l6 4v7L2.8 19.6 8 16.2zm8 4l6-4 5.2 3.5L16 27v-6.9zm7.8-5.2l4.2-2.8v5.6L23.8 15z"/>
            </svg>
          </a>
        </li>
        <li class="cmp-footer__social-item">
          <a href="https://www.linkedin.com/company/sparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <title>Linked In</title> 
              <path fill="currentColor" d="M23.9 23.9h-4.2v-6.5c0-1.6 0-3.6-2.2-3.6-2.1 0-2.4 1.7-2.4 3.4V24h-4.2V10.5h4v1.8c.6-1 2-2.1 4-2.1 4.2 0 5 2.7 5 6.3V24zM6.2 8.7a2.4 2.4 0 1 1 0-4.8 2.4 2.4 0 0 1 0 4.8zm2.1 15.2H4.1V10.5h4.2v13.4zM26 0H2.1A2 2 0 0 0 0 2v24c0 1.1 1 2 2 2h24a2 2 0 0 0 2-2V2c0-1.1-1-2-2-2z"/>
            </svg>
          </a>
        </li>
        <li class="cmp-footer__social-item">
          <a href="http://dribbble.com/sparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27">
              <title>Dribbble</title>
              <path fill="currentColor" d="M13.5 27a13.5 13.5 0 1 1 0-27 13.5 13.5 0 0 1 0 27zm11.4-11.7c-.4 0-3.6-1-7.2-.4 1.5 4.1 2.1 7.5 2.2 8.2 2.6-1.8 4.5-4.5 5-7.8zM18 24.1a48 48 0 0 0-2.5-8.7 15.8 15.8 0 0 0-9 7.2A11.5 11.5 0 0 0 18 24.1zM5 21.2a18.3 18.3 0 0 1 9.8-7.7l-1-2C8.1 13.2 2.5 13.2 2 13.2v.3c0 3 1 5.7 3 7.7zm-2.8-10c.5 0 5.3 0 10.7-1.4-2-3.4-4-6.3-4.3-6.7a11.6 11.6 0 0 0-6.4 8zm8.6-8.9c.3.4 2.4 3.3 4.3 6.8a13 13 0 0 0 6-4.2 11.5 11.5 0 0 0-10.3-2.6zm11.6 4c-.2.3-2.1 2.7-6.4 4.5l.8 1.6.2.6c3.8-.4 7.7.3 8 .4 0-2.7-1-5.2-2.6-7.2z"/>
            </svg>
          </a>
        </li>
        <li class="cmp-footer__social-item">
          <a href="https://www.facebook.com/seesparkbox" class="cmp-footer__social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
              <title>Facebook</title>
              <path fill="currentColor" d="M25.7.8H1.5C.7.8 0 1.5 0 2.3v24.2c0 .8.7 1.5 1.5 1.5h13V17.5H11v-4.1h3.5v-3c0-3.5 2.1-5.5 5.3-5.5l3.1.2v3.7h-2.1c-1.7 0-2 .8-2 2v2.6h4l-.5 4.1h-3.6V28h7c.8 0 1.5-.7 1.5-1.5V2.3c0-.8-.7-1.5-1.5-1.5z"/>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </section>
</footer>