a:not([class]) {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 1px var(--color-neutral-1), 0 2px var(--color-neutral-3);
  
  &:hover {
    color: var(--color-rust);
    box-shadow: 0 1px var(--color-neutral-1), 0 2px var(--color-rust);
  }
}
