:root {
	--color-rust: #{color(rust)};
	--color-neutral-1: #{color(neutral-1)};
	--color-neutral-2: #{color(neutral-2)};
	--color-neutral-3: #{color(neutral-3)};
	--color-line: #{color(line)};

	@each $key, $value in $font-families {
		--font-#{$key}: #{$value};
	}

	@each $key, $value in $font-size {
		--type-size-#{$key}: #{$value};
	}

	@media (min-width: $bp-font-size-shift) {
		@each $key, $value in $font-size-shift {
			--type-size-#{$key}: #{$value};
		}
	}

	// Just an idea to provide a dark mode style	
	@media (prefers-color-scheme: dark) {	
		--color-rust: #{color(dark-rust)};
		--color-neutral-1: #{color(dark-neutral-1)};
		--color-neutral-2: #{color(dark-neutral-2)};
		--color-neutral-3: #{color(dark-neutral-3)};
		--color-line: #{color(dark-line)};
	}
}
