.obj-max-width {
  width: 90%;
  max-width: 100rem;
  margin: 0 auto;

  @media (min-width: mq(md)) {
    width: calc(100% - (#{$fixed-columns-sm} * 2));
  }

  @media (min-width: mq(lg)) {
    width: calc(100% - (#{$fixed-columns-lg} * 2));
  }
  
  @include ie11 {
    max-width: 70rem;
  }
}

.obj-section + .obj-section {
  margin-top: 2rem;
}

.obj-page-container {
  overflow: hidden;
}
