.obj-lines {
  --color: #{rgba(color(neutral-3), 0.05)};
  --columns: 2;
  --size: calc(100% / var(--columns));
  --step-1: calc(var(--size) * 1);
  --step-2: calc(var(--size) * 2);
  --step-3: calc(var(--size) * 3);
  --step-4: calc(var(--size) * 4);
  --step-5: calc(var(--size) * 5);
  padding: 0;

  background-image: linear-gradient(90deg,
    var(--color) 1px,
    transparent 2px,

    transparent calc(var(--step-1) - 1px),
    var(--color) var(--step-1),
    transparent calc(var(--step-1) + 1px),

    transparent calc(100% - 2px),
    var(--color) 100%
  );

  @media (min-width: mq(md)) {
    --columns: 4;
    background-image: linear-gradient(90deg,
      var(--color) 1px,
      transparent 2px,
      transparent calc(25% - 1px), var(--color) 25%, transparent calc(25% + 1px), transparent calc(50% - 1px), var(--color) 50%, transparent calc(50% + 1px), transparent calc(75% - 1px), var(--color) 75%,transparent calc(75% + 1px), transparent calc(100% - 2px), var(--color) 100%);
  }

  @media (min-width: mq(xl)) {
    --columns: 6;
    background-image: linear-gradient(90deg,
      var(--color) 1px,
      transparent 2px,
      transparent calc(var(--step-1) - 1px),
      var(--color) var(--step-1),
      transparent calc(var(--step-1) + 1px),

      transparent calc(var(--step-2) - 1px),
      var(--color) var(--step-2),
      transparent calc(var(--step-2) + 1px),

      transparent calc(var(--step-3) - 1px),
      var(--color) var(--step-3),
      transparent calc(var(--step-3) + 1px),

      transparent calc(var(--step-4) - 1px),
      var(--color) var(--step-4),
      transparent calc(var(--step-4) + 1px),

      transparent calc(var(--step-5) - 1px),
      var(--color) var(--step-5),
      transparent calc(var(--step-5) + 1px),

      transparent calc(100% - 2px),
      var(--color) 100%
    );
  }
}