.obj-lines {
  position: relative;
  
  &::before {
    @supports (pointer-events: none) {
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: z-index(10);
      box-shadow: inset -1px 0 var(--color-line), inset 1px 0 var(--color-line);
      background-image: line-bg(color(line), 2, 1);
      background-size: 100% auto;

      @media (prefers-color-scheme: dark) {
        background-image: line-bg(color(dark-line), 2, 1);
      }

      @media (min-width: mq(md)) {
        background-image: line-bg(color(line), 4, 1);
      }

      @media (min-width: mq(md)) and (prefers-color-scheme: dark) {
        background-image: line-bg(color(dark-line), 4, 1);
      }
  
      @media (min-width: mq(lg)) {
        background-image: line-bg(color(line), 6, 1);
      }

      @media (min-width: mq(lg)) and (prefers-color-scheme: dark) {
        background-image: line-bg(color(dark-line), 6, 1);
      }
    }
  }
}
