.cmp-back-to-top {
  --color: var(--color-neutral-3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  text-decoration: none;

  &__text {
    white-space: nowrap;
    box-shadow: -1px 0 var(--color);
    transition: all var(--time-sm) 50ms var(--timing-snap);
    padding: 0.125rem 0;
  }

  &__arrow {
    height: 1em;
    width: 1em;
    stroke: var(--color);
    stroke-width: 1px;
    margin-top: 0.5em;
    transform: rotate(-90deg);
    transition: all var(--time-md) var(--timing-snap);
  }

  &:hover .cmp-back-to-top__text {
    text-decoration: none;
    background-color: var(--color-neutral-3);
    color: var(--color-neutral-1);
  }

  &:hover .cmp-back-to-top__arrow {
    transform: translateY(0.25rem) rotate(-90deg);
  }
}
