.cmp-bar-chart {
 border-top: 1px solid var(--color-neutral-3);

  &__keys {
    margin: 2rem 0;
  }

  &__key {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-line);
    display: flex;
  }

  &__key-name {
    @include type-body-mono();
  }

  &__key-marker {
    flex: 0 0 auto;
    margin-right: 1em;
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 1em;
    border: 1px solid var(--border);
  }

  &__diagram {
    padding: 1rem 0 2rem 1rem;
    border-left: 1px solid var(--color-rust);
  }

  &__set {
    & + & {
      margin-top: 0.875rem;
    }
  }

  &__set-name {
    @include type-body();
    font-weight: weight(semibold);
    margin-bottom: 0.25rem;
  }

  &__item {
    box-sizing: border-box;
    border: 1px solid var(--border);
    width: var(--width);
    color: var(--color);
    display: flex;
    height: $bar-chart-height;
  }

  &__value {
    display: inline;
    @include type-body-mono-large();
    line-height: 1;
    padding: 0.125rem 0.25rem 0.125rem 0.125rem;
    margin-bottom: 0.5rem;
    background-color: var(--bgcolor);

    &--hidden {
      display: none;
    }
  }

  @include ie11 {
    display: none;
  }
}
