.cmp-cta {
  --color-divider: #{color(dark-divider)};
  @media (prefers-color-scheme: dark) {
    --color-divider: #{color(divider)};
  }
  padding: 3rem 2rem;
  color: var(--color-neutral-1);
  background-color: var(--color-neutral-3);

  & .cmp-button {
    margin-top: 1rem;
  }

  &--mark-right {
    background-color: transparent;
    background-image: linear-gradient(to left, transparent 4rem, var(--color-neutral-3) 4rem),
    linear-gradient(to bottom, transparent 1.5rem, var(--color-neutral-3) 1.5rem);
  }

  &--mark-left {
    background-color: transparent;
    background-image: linear-gradient(to right, transparent 6rem, var(--color-neutral-3) 6rem),
    linear-gradient(to bottom, transparent 1rem, var(--color-neutral-3) 1rem);
  }
}
