.cmp-figure {
  margin: 0;
  padding: 0;
  position: relative;

  &__caption {
    display: flex;
    margin-top: 0.5rem;
    text-align: right;
    color: color.mix(color(neutral-3), color(neutral-1), 62%);
    @include type-mono-micro;
    font-weight: weight(bold);

    &--right {
      flex-direction: row-reverse;
    }

    &--left {
      flex-direction: row;
      text-align: left;
      margin-top: 1rem;

      @media (min-width: mq(md)) {
        margin-top: 2rem;
      }
    }
  }

  &__count {
    flex-shrink: 0;
    margin-left: 1rem;
    display: inline-block;
    color: var(--color-neutral-3);
  }

  &__caption--left &__count {
    margin-left: 0;
    margin-right: 1rem;
  }
}
