.cmp-fixed-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  background: var(--color-neutral-2);
  z-index: z-index(10);
  padding: 1rem 0.75rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: $fixed-columns-sm;
  font-family: var(--font-mono);
  font-weight: weight(light);
  font-size: 0.875rem;

  @media (min-width: mq(md)) {
    display: none;
  }

  div {
    align-items: center;
  }

  div:first-child {
    padding: 0 1rem;
  }
}

.cmp-fixed-left,
.cmp-fixed-right {
  display: none;

  @media (min-width: mq(md)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-sizing: border-box;
    padding: 1rem 0;
    top: 0;
    width: $fixed-columns-sm;
    height: 100vh;
    writing-mode: vertical-rl;
    transform-origin: center center;
    transform: rotate(180deg);
    font-family: var(--font-mono);
    font-weight: 300;
    font-size: 0.75rem;
  }

  @media (min-width: mq(lg)) {
    width: $fixed-columns-lg;
    font-size: 0.875rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.cmp-fixed-left {
  @media (min-width: mq(md)) {
    left: 0;
  }
}

.cmp-fixed-right {
  @media (min-width: mq(md)) {
    right: 0;
  }
}

.cmp-fixed-logo {
  transform-origin: center center;
  transform: rotate(180deg);
  color: inherit;

  &--top {
    transform: rotate(90deg);
  }

  @include ie11 {
    // The 180deg rotation was causing layout issues in IE11
    transform: none;
  }

  &__svg {
    width: calc(21px * 0.75);
    height: calc(75px * 0.75);

    &--top {
      width: calc(125px * 0.75);
      height: calc(117px * 0.75);
    }

    @media (min-width: mq(lg)) {
      width: 21px;
      height: 75px;
    }
  }
}
