@keyframes form-message-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cmp-form {
  margin-top: space(3xl);

  &__error-message,
  &__success-message {
    display: none;
  }

  .form-error &__error-message {
    display: block;
    animation: form-message-fade-in 500ms ease-in forwards;
  }

  .form-success &__success-message {
    display: block;
    animation: form-message-fade-in 500ms ease-in forwards;
  }
  
  .form-error &__fieldset,
  .form-success &__fieldset {
    display: none;
  }
}