.cmp-error {
  line-height: 0.75;
  margin-bottom: 3rem;
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  @media (min-width: mq(xl)) {
    flex-direction: row;
    text-align: left;
  }


  &__title {
    position: relative;
    padding-top: 5rem;
    line-height: 1.4;
    margin: 0 0 -0.25em;
    text-shadow: stroke(var(--color-neutral-1));
    @include type-section;


    &::before {
      position: absolute;
      z-index: -1;
      content: "404";
      font-family: var(--font-mono);
      color: var(--color-neutral-1);
      font-size: 10rem;
      text-shadow: stroke(var(--color-rust));
      left: 33px;
      top: -93px;
    
  
      @media (min-width: mq(md)) {
        font-size: 15rem;
        left: 0;
        top: 0;
      }
    }
  

    @media (min-width: mq(md)) {
      padding-top: 15rem;
    }
  }
  
  &__content {
    text-shadow: stroke(#{var(--color-neutral-1)});
  }

  &__link {
    &,
    &:link,
    &:visited {
      color: var(--color-neutral-3);
      box-shadow: none;
      text-decoration: underline;
      cursor: pointer;
    }
  
    &:hover {
      background-color: var(--color-neutral-3);
      color: var(--color-neutral-1);
      box-shadow: none;
      text-decoration: none;
      text-shadow: none;
    }
  } 
}
  