.cmp-pie-chart {
  &__keys-container {
    background-color: var(--color-neutral-1);
    box-shadow: 0 0 0 1rem var(--color-neutral-1);
    width: 66.667%;
    margin-left: 33.333%;
    position: relative;
    z-index: z-index(2);
  }

  &__keys {
    width: 100%;
    border-collapse: collapse;
  }

  &__title {
    @include type-h3;
    text-align: left;
    border-top: 1px solid var(--color-neutral-3);
    padding: 1.5em 0;
  }

  &__key {
    vertical-align: middles;
    border-bottom: 1px solid var(--color-line);
  }

  &__key-name {
    padding: 0.5rem 0;
    text-align: left;
    @include type-mono-micro;
  }
  
  &__key-marker {
    margin-right: 1em;
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 1em;
    border: 1px solid var(--border);
  }

  &__key-value {
    @include type-mono-micro;
    text-align: right;
  }

  &__diagram-container {
    width: 50%;
    margin-top: -15%;
    position: relative;
    z-index: z-index(1);
  }

  &__diagram {
    position: relative;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-neutral-3);
    box-shadow: 0 0 0 1px var(--color-neutral-1);
    
    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__slice {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before,
    &::after {
      content: '';
      width: 0px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 50%;
      left: calc(50% - 1px);
      border: 1px solid var(--color-neutral-3);
      transform-origin: bottom center;
      box-shadow: 0 0 0 0.5px var(--color-neutral-3);
    }

    &--object-1 {
      mask-image: conic-gradient(
        black 0deg,
        black var(--turn-1),
        transparent var(--turn-1)
      );

      &::before {
        transform: rotate(var(--turn-1));
      }

      &::after {
        transform: rotate(var(--turn-2));
      }
    }

    &--object-2 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-1),
        black var(--turn-1),
        black var(--turn-2),
        transparent var(--turn-2)
      );

      &::before {
        transform: rotate(var(--turn-2));
      }

      &::after {
        transform: rotate(var(--turn-3));
      }
    }

    &--object-3 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-2),
        black var(--turn-2),
        black var(--turn-3),
        transparent var(--turn-3)
      );

      &::before {
        transform: rotate(var(--turn-3));
      }

      &::after {
        transform: rotate(var(--turn-4));
      }
    }

    &--object-4 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-3),
        black var(--turn-3),
        black var(--turn-4),
        transparent var(--turn-4)
      );

      &::before {
        transform: rotate(var(--turn-4));
      }

      &::after {
        transform: rotate(var(--turn-5));
      }
    }

    &--object-5 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-4),
        black var(--turn-4),
        black 100%,
        transparent 100%
      );

      &::before {
        transform: rotate(var(--turn-5));
      }

      &::after {
        transform: rotate(360deg);
      }
    }
  }
}
