.cmp-pie-chart {
  &__keys-container {
    background-color: var(--color-neutral-1);
    width: 100%;
    position: relative;
    z-index: z-index(2);
    margin-bottom: 2rem;
    border-top: 1px solid var(--color-neutral-3);
    
    .ie11 & {
      background-color: transparent;
    }
  }

  &--large &__keys-container {
    @media (min-width: mq(md)) {
      margin-bottom: auto;
      box-shadow: 0 0 0 1rem var(--color-neutral-1);
      width: math.div(2, 3) * 100%;
      margin-left: math.div(1, 3) * 100%;
      
      .ie11 & {
        box-shadow: none;
      }
    }
  }

  &__title {
    margin: 2rem 0;
    text-align: left;
  }

  &__keys {
    margin-top: 2rem;
    width: 100%;
    border-collapse: collapse;
  }

  &__key {
    vertical-align: middle;
    border-bottom: 1px solid var(--color-line);
  }

  &__key-name {
    display: flex;
    padding: 0.5rem 0;
    text-align: left;
    @include type-mono-micro;
  }

  &__key-marker {
    flex: 0 0 auto;
    margin-right: 1em;
    display: inline-block;
    width: 2em;
    height: 1.125em;
    border: 1px solid var(--border);

    .ie11 & {
      display: none;
    }
  }

  &__key-value {
    @include type-mono-micro;
    padding: 0.5rem 0;
    text-align: right;
    vertical-align: top;
  }

  &__diagram-container {
    position: relative;
    z-index: z-index(1);
    margin-bottom: 1.5rem;
    
    .ie11 & {
      display: none;
    }
  }

  &--large &__diagram-container {
    @media (min-width: mq(md)) {
      width: 50%;
      margin-top: -15%;
      margin-bottom: auto;
    }
  }

  &__diagram {
    // Default Properties:
    --object-1: 0;
    --object-2: 0;
    --object-3: 0;
    --object-4: 0;
    --object-5: 0;
    
    position: relative;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid var(--color-neutral-3);

    &::after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  &__slice {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before,
    &::after {
      content: '';
      width: 1px;
      display: block;
      position: absolute;
      top: 0;
      bottom: 50%;
      left: calc(50% - 1px);
      transform-origin: bottom center;
      box-shadow: inset 0 0 0 1px var(--color-neutral-3), 0 0 0 0.5px var(--color-neutral-3);
    }
    
    &.util-fill-style-2::after,
    &.util-fill-style-3::before {
      // The diagonal fill needs just a bit more border
      box-shadow: inset 0 0 0 1px var(--color-neutral-3), 0 0 0 1.5px var(--color-neutral-3);
    }

    &--object-1 {
      mask-image: conic-gradient(
        black 0deg,
        black var(--turn-1),
        transparent var(--turn-1)
      );

      &::before {
        transform: rotate(var(--turn-1));
      }

      &::after {
        transform: rotate(var(--turn-2));
      }
    }

    &--object-2 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-1),
        black var(--turn-1),
        black var(--turn-2),
        transparent var(--turn-2)
      );

      &::before {
        transform: rotate(var(--turn-2));
      }

      &::after {
        transform: rotate(var(--turn-3));
      }
    }

    &--object-3 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-2),
        black var(--turn-2),
        black var(--turn-3),
        transparent var(--turn-3)
      );

      &::before {
        transform: rotate(var(--turn-3));
      }

      &::after {
        transform: rotate(var(--turn-4));
      }
    }

    &--object-4 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-3),
        black var(--turn-3),
        black var(--turn-4),
        transparent var(--turn-4)
      );

      &::before {
        transform: rotate(var(--turn-4));
      }

      &::after {
        transform: rotate(var(--turn-5));
      }
    }

    &--object-5 {
      mask-image: conic-gradient(
        transparent 0deg,
        transparent var(--turn-4),
        black var(--turn-4),
        black 100%,
        transparent 100%
      );

      &::before {
        transform: rotate(var(--turn-5));
      }

      &::after {
        transform: rotate(360deg);
      }
    }
  }
}
