.cmp-quote {
  margin: 0;
  padding: 0;
  position: relative;

  &--large {
    padding: 4rem 0 0;
  }

  &--small {
    padding: 2.75rem 0 0;
  }

  &::before {
    content: '\201C';
    font-family: var(--font-mono);
    color: var(--color-neutral-1);
    position: absolute;
    z-index: z-index(1);
    top: 0;
    left: 0;
    line-height: 1;
  }

  &--deco-rust::before {
    text-shadow: stroke(var(--color-rust));
  }

  &--deco-alt::before {
    text-shadow: stroke(var(--color-neutral-3));
    opacity: 0.5;
  }

  &--large::before {
    font-size: 14.5rem;
    left: -2rem;
  }

  &--small::before {
    font-size: 8.75rem;
    left: -1.125rem;
  }

  &__block {
    position: relative;
    z-index: z-index(2);
    margin: 0;
    padding: 0;
    text-shadow: stroke(var(--color-neutral-1), 0.0625rem);
  }

  // Block quote text assumes paragraph:
  p:not([class]) {
    @include type-body-large;
    margin: 0;

    & + p:not([class]) {
      margin-top: 1em;
    }
  }

  &--large p:not([class]) {
    @include type-h2;
  }

  &__footer {
    margin-top: 1rem;
  }

  &__cite {
    margin: 0;
  }
}
