.cmp-section-header {
  border-top: 0.5rem solid var(--color-neutral-3);
  line-height: 0.75;
  position: relative;
  margin-bottom: 3rem;

  &__number {
    position: absolute;
    z-index: -1;
    content: "0" attr(data-number);
    font-family: var(--font-mono);
    color: var(--color-neutral-1);
    font-size: 10rem;
    text-shadow: stroke(var(--color-rust));

    @media (min-width: mq(md)) {
      font-size: 15rem;
    }
  }

  &__title {
    padding-top: 5rem;
    width: 100%;
    line-height: 1.4;
    margin: 0 0 -0.25em;
    text-shadow: stroke(var(--color-neutral-1));
    @include type-section;

    @media (min-width: mq(md)) {
      padding-top: 9rem;
    }
  }

  &__marker {
    pointer-events: none;
    display: flex;
    align-items: center;
    position: absolute;
    padding-top: 0.5rem;
    top: 0;
    right: 0;
    border-top: 0.5rem solid var(--color-neutral-3);
  }

  &__mark {
    stroke-width: 1px;
    stroke: var(--color-neutral-3);
    fill: var(--color-neutral-1);

    &--1-1,
    &--2-2,
    &--3-3,
    &--4-4,
    &--5-5,
    &--6-6 {
      fill: var(--color-neutral-3);
    }
  }

  &__progress {
    pointer-events: none;
    @include type-mono-micro;
    margin-left: 1rem;
  }
}
