.cmp-stacked-chart {
  border-top: 1px solid var(--color-neutral-3);

  &--large {
    border-top: 1px solid transparent;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      display: block;
      width: math.div(2, 3) * 100%;
      border-top: 1px solid var(--color-neutral-3);
      top: 0;
    }
  }

  &__keys {
    margin: 2rem 0;
  }

  &__key {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--color-line);
    display: flex;
  }

  &__key-name {
    @include type-mono-micro;
  }

  &__key-marker {
    flex: 0 0 auto;
    margin-right: 1em;
    vertical-align: middle;
    display: inline-block;
    width: 2em;
    height: 1em;
    border: 1px solid var(--border);
  }

  &__diagram {
    padding: 1rem 0 2rem 1rem;
    border-left: 1px solid var(--color-rust);
  }

  &__set {
    & + & {
      margin-top: 1rem;
    }
  }

  &__set-name {
    @include type-sans-micro();
    margin-bottom: 0.5em;
  }

  &__stack {
    display: flex;
    width: 100%;
    align-items: flex-end;
  }

  &__item {
    box-sizing: border-box;
    width: var(--width);
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    &:not(:first-child) {
      border-left: none;
    }
  }

  &__bar {
    width: 100%;
    border: 1px solid var(--border);
    height: $bar-chart-height;
  }

  &__value {
    display: inline;
    @include type-mono-micro();
    line-height: 1;
    padding: 0.125rem 0.25rem 0.125rem 0.125rem;
    margin-bottom: 0.675rem;

    &--inside {
      background-color: var(--color-neutral-1);
      position: absolute;
      top: 1px;
      left: 1px;

      .util-fill-style-1 + & {
        background-color: transparent;
        color: var(--color-neutral-1);
      }
    }
  }

  @include ie11 {
    display: none;
  }
}
