<div class="cmp-survey-question">
  <h4 class="cmp-survey-question__text">{{default text "Did you pass data into this partial incorrectly?"}}</h4>
  <div class="cmp-survey-question__meta">
    <div class="cmp-survey-question__meta__item">
      {{default numResponses "Not sure how many"}} responses
    </div>
    <div class="cmp-survey-question__meta__item">
      {{type}}
    </div>
  </div>
</div>