---
title: 2018 Design System Survey
name: 2018 Design System Survey
layout: template
---

<h1>{{name}}</h1>

{{> patterns.content-sections.intro }}
{{> patterns.content-sections.who-we-heard-from }}
{{> patterns.content-sections.why-orgs-build-design-systems }}
{{> patterns.content-sections.successful-design-systems }}
{{> patterns.content-sections.why-design-systems-need-champions }}
{{> patterns.content-sections.conclusion }}
