---
title: 2018 Design System Survey
name: 2018 Design System Survey
layout: template
---

<h1>{{name}}</h1>

{{> patterns.content-sections.about-survey }}
{{> patterns.content-sections.design-systems-in-the-wild }}
{{> patterns.content-sections.motivation }}
{{> patterns.content-sections.successful-design-systems }}
{{> patterns.content-sections.challenges }}
{{> patterns.content-sections.conclusion }}
