@font-face {
  font-family: "Sole Sans";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-sans-vf-regular-extra-condensed/font.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: normal;
  font-stretch: 80% 130%;
}

@font-face {
  font-family: "Sole Sans";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-sans-vf-regular-extra-condensed-italic/font.woff2') format('woff2-variations');
  font-weight: 100 800;
  font-style: italic;
  font-stretch: 80% 130%;
}

@font-face {
  font-family: "Sole Sans Hairline";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-serif-hairline/font.woff2') format('woff2'),
       url('https://assets.sparkbox.com/fonts/sole/sole-serif-hairline/font.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sole Sans Hairline";
  src: url('https://assets.sparkbox.com/fonts/sole/sole-serif-hairline-italic/font.woff2') format('woff2'),
       url('https://assets.sparkbox.com/fonts/sole/sole-serif-hairline-italic/font.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
