html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 100% / 1.5 var(--font-text);
  color: var(--color-white);
  background-color: var(--color-black);
  position: relative;
}

b,
strong {
  font-weight: bolder;
}

textarea {
  overflow: auto;
}
