html,
body {
  min-height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 100% / 1.5 "Sole Sans", system-ui, sans-serif;
  color: var(--color-white-hsl);
  background-color: var(--color-black-hsl);
}

b,
strong {
  font-weight: bolder;
}

textarea {
  overflow: auto;
}
