.cmp-basic-table {
  font-size: 0.85rem;

  @media (min-width: 30em) {
    font-size: 1rem;
  }

  @media (min-width: $bp-text-size-bump-1) {
    font-size: 1.25rem;
  }
  
  width: 100%;

  // The max width is a magic number that feels about right for a max width
  max-width: 61rem;

  &--small-content {
    max-width: 20em;
  }

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  border-collapse: collapse;

  margin-bottom: $space-xxl;

  box-sizing: border-box;

  border-style: solid;
  border-color: white;
  border-width: 3px 0 0 3px;

  th {
    background-color: #F0F0F0;

    padding: 0.75em $space-page-margin;

    border-style: solid;
    border-color: white;
    border-width: 0 3px 3px 0;
  }

  td {
    background-color: #F9F9F9;

    padding: 0.75em $space-page-margin;

    border-style: solid;
    border-color: white;
    border-width: 0 3px 3px 0;
  }

  &:not(.cmp-basic-table--center-align) th:first-child,
  &:not(.cmp-basic-table--center-align) td:first-child {
    text-align: left;
  }

  &:not(.cmp-basic-table--center-align) th:last-child,
  &:not(.cmp-basic-table--center-align) td:last-child {
    text-align: right;
  }
}
