$glow: $black;
$glowbg: #8115b0;
$bgsize: 4vmin;
$size: $bgsize;
$lines: rgba($glow, 1) 0, rgba($glow, 1) 40%, rgba($glow, 0.65) 48.75%, rgba($glow, 0) 50%, rgba($glow, 0) 52.5%, rgba($glow, 0.65) 53.75%, rgba($glow, 1) 62.5%, rgba($glow, 1) 100%;

$basetime: 1s;

// z-index order
$z-sky: 97;
$z-lightning: 98;
$z-mountains: 99;
$z-ground: 100;

$z-shade-cube: 297;
$z-shade-diamond: 298;
$z-shade-pyramid: 299;
$z-shade-dodecahedron: 300;

.cmp-hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
  pointer-events: none;

  &__heading {
    position: absolute;
    @include positions(0);
    pointer-events: all;
    z-index: 600;
    font-family: $font-heading;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__title {
    font-size: 5vw;
    padding: 0 1rem;
  }

  &__year {
    font-size: 2vw;
    padding: 0 1rem;
  }

  &__noise {
    position: absolute;
    z-index: 400;
    @include positions(0);
    background: url("/images/noise.png") repeat center scroll / 150px 150px;
    mix-blend-mode: overlay;
    opacity: 0.3;
  }

  &__flood {
    position: absolute;
    z-index: 102;
    @include positions(0);
    background-color: #733caa;
    opacity: 0.18;
    mix-blend-mode: screen;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index:103;
      @include positions(0);
      opacity: 0;
      animation: flash 150ms 5s ease-out;
      background-color: $white;
    }
  }

  &__sky {
    position: absolute;
    z-index: $z-sky;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(to bottom, black 0%, rgba(0,0,0,0) 20%), url("/images/sky.jpg") no-repeat top center fixed / cover;
  }

  &__mountains {
    position: absolute;
    z-index: $z-mountains;
    bottom: 25vh;
    left: 0;
    width: 100%;
    height: 75%;
    background: url("/images/mountains.svg") no-repeat bottom -1px center scroll / contain;
  }

  &__ligntning {
    z-index: $z-lightning;
    position: absolute;
    mix-blend-mode: screen;
    height: 75%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    animation: lightning linear 50ms 5100ms forwards;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      @include positions(0);
      mix-blend-mode: screen;
    }

    &::before {
      background: url("/images/lightning-dim.jpg") no-repeat top right scroll / auto 100%;
    }

    &::after {
      background: url("/images/lightning-bright.jpg") no-repeat top left scroll / auto 100%;
    }
  }

  &__ground {
    z-index: $z-ground;
    position: absolute;
    perspective: 1000px;
    top: 75%;
    left: 0;
    height: 25%;
    width: 100%;
    overflow: hidden;
    background-color: $glowbg;

    // Orange Glow
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 10%;
      left: 40%;
      height: 20%;
      width: 20%;
      z-index: 99;
      background-color: $orange;
      border-radius: 50%;
      filter: blur(20px);
      opacity: 0;
      animation: reflection ease-out 250ms 5s forwards;
    }

    // Green Glow
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 6%;
      right: 15%;
      height: 10%;
      width: 15%;
      z-index: 99;
      background-color: $green;
      border-radius: 50%;
      filter: blur(15px);
      opacity: 0;
      animation: reflection ease-out 250ms 5s forwards;
    }
  }

  @keyframes reflection {
    from {
      opacity: 0;
      transform: scale(0.2);
      filter: blur(30px);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: blur(15px);
    }
  }

  &__ground-tilt {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -50%;
    height: 400%;
    width: 200%;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateX(75deg);
  }

  &__ground-shadow {
    position: absolute;
    z-index: 200;
    top: 75%;
    left: 0;
    height: 25%;
    width: 100%;
    background:
      linear-gradient(-45deg, $black 0%, rgba($black, 0) 40%),
      linear-gradient(120deg, $black 0%, rgba($black, 0) 40%);
  }

  &__ground-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    $height: 200vh;
    width: 100%;
    height: $height;
    background: url("/images/grid.svg") repeat top $bgsize*0.5 center scroll / $size;
    transform: translateY(0);
  }

  &__people {
    $img-size: 7rem;
    z-index: 101;
    background: url("/images/people.png") no-repeat bottom 10% left 40% scroll / auto $img-size;
    position: absolute;
    @include positions(0);
    @include image-rendering;
  }

  &__ground-glow {
    position: absolute;
    top: 75%;
    left: 0;
    z-index: 200;
    height: 25%;
    width: 100%;
    background: 
      radial-gradient(ellipse at top, rgba($glowbg, 0.3), rgba($glowbg, 0) 20%);
  }

  &__shape-group {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;
    transform-origin: 50% 50%;
    transform: scale(0.2);
    opacity: 0;
    animation: shapes ease-out 250ms 5s forwards;
  }

  @keyframes shapes {
    from {
      opacity: 1;
      transform: scale(0.2);
      filter: blur(5px) brightness(10);
    }
    to {
      opacity: 1;
      transform: scale(1);
      filter: blur(0) brightness(1);
    }
  }

  &__shape {
    position: absolute;
    z-index: 200;
    @include positions(0);

    &--dodecahedron {
      @include positions(0);
      z-index: $z-shade-dodecahedron;
      background: url("/images/dodecahedron.svg") no-repeat top 25% center scroll / 32% auto
    }

    &--pyramid {
      @include positions(0);
      z-index: $z-shade-pyramid;
      background: url("/images/pyramid.svg") no-repeat top 55% left 20% scroll / 12% auto
    }

    &--diamond {
      @include positions(0);
      z-index: $z-shade-diamond;
      background: url("/images/diamond.svg") no-repeat top 55% right 20% scroll / 12% auto
    }

    &--cube {
      @include positions(0);
      z-index: $z-shade-cube;
      background: url("/images/cube.svg") no-repeat top 15% right 20% scroll / 12% auto
    }
  }
}

@keyframes sky {
  from {
    transform: translateY(#{-($bgsize * 2) + 30});
  }
  to {
    transform: translateY(#{-$bgsize * 2});
  }
}

@keyframes mountains {
  from {
    transform: translateY(#{$bgsize * 0.5});
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fly {
  to {
    transform: translateY(0);
  }
}

@keyframes lightning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes people {
  from {
    opacity: 0;
    transform: rotateX(-75deg) translateY(calc(-12.5vh - 2rem) ) translateX(#{$bgsize}) scale(0.1);
  }
  to {
    opacity: 1;
    transform: rotateX(-75deg) translateY(0) translateX(0) scale(1);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


