.cmp-button {
  $border-width: 0.25rem;

  font-family: inherit;
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.0625em;

  text-transform: uppercase;

  color: $c-black;
  text-decoration: none;
  background-color: #eee;

  border: 0;

  // Padding is used to add some clickable space
  padding: 0.8rem 0.6rem;

  opacity: 0.7;

  transition: opacity 200ms $timing-function-ease-out-expo;

  :target & {
    // This plays a reveal animation when a section is jumped to
    // via the table of contents. Otherwise, the links are visible
    // all the time.

    animation: reveal-back-to-top 1s linear 1s;

    // This makes the link invisible to start with,
    // then stops applying keyframe styles so that our hovers can take effect
    animation-fill-mode: backwards;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &__chevron-icon {
    // Using the presence of aria-expanded as a styling hook
    // to draw a chevron indicating expand state.

    display: inline-block;

    border-width: 0.125rem;
    border-style: none none solid solid;

    width: 0.4rem;
    height: 0.4rem;

    margin-left: 0.5rem;
    margin-right: 0.25rem;

    transition: transform 550ms $timing-function-ease-out-expo;

    transform: translateY(-0.125rem) rotate(-45deg);

    [aria-expanded=true] & {
      transform: rotateX(180deg) translateY(-0.125rem) rotate(-45deg);
    }
  }
}
