.cmp-form {
  margin: 0 0 4rem;

  &__label {
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    color: $hotpink;
    font-size: 2rem;
    line-height: 1.25;
    text-shadow: 0 0 6px 0 rgba($yellow, 0.2);
    margin-bottom: 1.5rem;

    @supports (background-clip: text) {
      position: relative;
      color: transparent;
      top: 0;
      background-image: linear-gradient(90deg, $yellow 0%, $orange 100%);
      background-clip: text;
      z-index: 2;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;

    @media (min-width: $bp-sm) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__border {
    border: 3px solid transparent;
    border-radius: 0.375rem;
    background-image: linear-gradient($black, $black), radial-gradient(circle at top left, $yellow,$hotpink);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 100%;

    @media (min-width: $bp-sm) {
      width: 76%;
    }

    @media (min-width: $bp-md) {
      width: 80%;
    }

    &:focus-within {
      border: 3px solid $white !important;
    }
  }

  &__input {
    color: $white;
    background: $black;
    border: none;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    width: calc(100% - 2rem);

    @media (min-width: $bp-sm) {
      font-size: 2rem;
    }

    &::placeholder {
      color: $yellow;
    }

    &:focus {
      box-shadow: unset;
    }
  }

  &__button {
    @include unbuttonize;
    color: $black;
    position: relative;
    font-family: $font-heading;
    font-size: 1.5rem;
    line-height: 1.1;
    padding: 1rem;
    background: linear-gradient(90deg, $yellow 0%, $orange 100%);
    border-radius: 0.375rem;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    transform: scale(1);
    transition: transform 150ms ease;

    @media (min-width: $bp-sm) {
      width: auto;
      margin-top: 0;
    }

    &:hover {
      // animation: moving-gradient 1000ms linear alternate infinite;
      transform: scale(1.05);
      background-size: 200%;
    }
  }

  &__placeholder {
    font-family: Helvetica;
    font-size: 32px;
    color: #F3C448;
    letter-spacing: 0;
  }

  &__message {
    font-size: 2rem;
    color: $white;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      display: block;
      height: 4rem;
      width: 4rem;
      margin-right: 1rem;
    }

    &--subscribed {
      &::before {
        background: svg('<svg width="99" height="94" viewBox="0 0 99 94"><defs><linearGradient id="a" x1="50%" x2="50%" y1="100%" y2="0%"><stop offset="0%" stop-color="#42E915"/><stop offset="100%" stop-color="#39971F"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M97 6.7a4 4 0 0 1 1.5 5.5l-46 79.6a4 4 0 0 1-5.5 1.5l-45-26a4 4 0 0 1-1.5-5.5l6-10.4A4 4 0 0 1 12 50l31.2 18 38-65.8A4 4 0 0 1 86.6.7l10.4 6z"/></svg>') no-repeat center / contain;
        filter: drop-shadow(0 0 0.125rem rgba($green, 0.25));
        animation: subscribed-glow 1500ms ease-in-out alternate infinite;
      }
    }

    &--invalid {
      &::before {
        background: svg('<svg width="97" height="96" viewBox="0 0 97 96"><defs><linearGradient id="a" x1="50%" x2="50%" y1="0%" y2="100%"><stop offset="0%" stop-color="#9A266B"/><stop offset="100%" stop-color="#DF138C"/></linearGradient></defs><path fill="url(#a)" fill-rule="evenodd" d="M62.5 47.8L95 15.3a4 4 0 0 0 0-5.6l-8.5-8.5a4 4 0 0 0-5.6 0L48.4 33.7 15.8 1.2a4 4 0 0 0-5.6 0L1.7 9.7a4 4 0 0 0 0 5.6l32.5 32.5L1.7 80.4a4 4 0 0 0 0 5.6l8.5 8.5a4 4 0 0 0 5.6 0L48.4 62l32.5 32.5a4 4 0 0 0 5.6 0L95 86a4 4 0 0 0 0-5.6L62.5 47.8z"/></svg>') no-repeat center / contain;
        filter: drop-shadow(0 0 0.125rem rgba($hotpink, 0.25));
        animation: invalid-glow 1500ms ease-in-out alternate infinite;
      }
    }
  }
}

@keyframes moving-gradient {
	0% {
    background-position: 0% 0%;
  }
	100% {
    background-position: 100% 100%;
  }
}

@keyframes subscribed-glow {
  to {
    filter: drop-shadow(0 0 0.5rem rgba($green, 0.75));
  }
}

@keyframes invalid-glow {
  to {
    filter: drop-shadow(0 0 0.5rem rgba($hotpink, 0.75));
  }
}
