// Two tone gradient headers, hero section, TOC
// previously headline-1
.font-chrome {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  margin: 0;
  font-size: 9vw;
  white-space: nowrap;
  color: $hotpink;

  @supports (background-clip: text) {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    filter: drop-shadow(0 0.0325em 0 #8D0429);
    background: linear-gradient(0deg, #F448AF 21%, #4A062F 42%, $black 43%, #D2F0FD 45%, #146C8C 63%, #082534 77%);
    background-clip: text;
    -webkit-text-stroke: 1px #EEABEF;
  }

  &--small {
    font-size: 6vw;
  }
}

// For "Survey," TOC numbers, etc.
.font-accent {
  font-family: $font-script;
  text-align: center;
  font-size: 25vmin;
  color: $blue;
  transform: rotate(-10deg);
  text-shadow:
    0 0 0.075em rgba($blue, 0.6),
    0 0.02em 0 darken($blue, 32%),
    -0.0075em 0.005em 0 $white,
    0.01em 0.005em 0 $white,
    0 0 0.01em $black
    ;
}

// triple border bottom heading
.font-diagram-heading {
  $size: 4rem;

  margin: 0;
  padding-bottom: $size;
  position: relative;
  color: $white;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '';
    display: block;
    width: 15rem;
    height: 0.125rem;
    position: absolute;
    top: calc(100% - #{$size / 2} - 0.0625rem);
    left: calc(50% - 7.5rem);
    background-color: mix($hotpink, $orange, 50%);
    box-shadow: 0 -0.25rem $hotpink, 0 0.25rem $orange;
  }
}

// small copy underneath diagram-heading
.font-diagram-copy {
  color: $white;
  font-family: $font-body;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

// Table of contents items
// previously headline-4
.font-label {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 700;
  color: $white;
  font-size: 1.875rem;
}

// Intro text
.font-prominent {
  color: $white;
  font-family: $font-body;
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.5;
}
