.cmp-diagram-table {
  width: calc(100% - 2rem);
  margin: 0 auto;

  @media (min-width: $bp-md) {
    display: none;
  }

  // Wrap this around tables to make them scrollable
  &__scrollable {
    overflow: auto;
  }
}
