$bp-key-two-columns: 28rem;

.cmp-key {
  @include delist;
  
  @media (min-width: $bp-key-two-columns) and (max-width: $bp-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__list-item {
    padding-left: 2rem;
    margin-bottom: 1.25rem;
    box-sizing: border-box;
    position: relative;
    font-size: 0.875rem;

    @media (min-width: $bp-key-two-columns) and (max-width: $bp-md) {
      flex-basis: calc(50% - 0.75rem);
    }

    @media (min-width: $bp-md) {
      margin-bottom: 2rem;
    }

    @media (min-width: $bp-lg) {
      font-size: 1rem;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1.25rem;
      height: 1.25rem;
      border-style: solid;
      border-width:  0.0625rem;
      border-radius: 0.25rem;
    }

    &--blue::after {
      border-color: $blue;
      background-image: linear-gradient(to bottom, rgba($blue, 0.8), $black);
    }

    &--hotpink::after {
      border-color: $hotpink;
      background-image: linear-gradient(to bottom, rgba($hotpink, 0.8), $black);
    }

    &--orange::after {
      border-color: $orange;
      background-image: linear-gradient(to bottom, rgba($orange, 0.8), $black);
    }

    &--green::after {
      border-color: $green;
      background-image: linear-gradient(to bottom, rgba($green, 0.8), $black);
    }

    &--yellow::after {
      border-color: $yellow;
      background-image: linear-gradient(to bottom, rgba($yellow, 0.8), $black);
    }

    &--white::after {
      border-color: $white;
      background-image: linear-gradient(to bottom, rgba($white, 0.8), $black);
    }
  }

  &__text {
    color: $white;
  }
}
