.cmp-chart {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0.125rem 0 0;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;

  @supports (display: grid) {
    height: 50vh;
    display: grid;
    grid-auto-rows: 1fr;
  }

  &__range {
    position: absolute;
    width: 100%;
    top: -0.125rem;
    bottom: -3rem;
    font-weight: bold;
    pointer-events: none;
  }

  &__low,
  &__high {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    padding: 0 0.25rem;
  }

  &__low {
    border-left: 0.125rem solid black;
    left: 11rem;

    @supports (display: grid) {
      left: 9.75rem;  
    }
  }

  &__high {
    border-right: 0.125rem solid black;
    right: 0;
    text-align: right;
  }

  &__entry {
    width: 100%;
    display: flex;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 10rem auto;
    }
  }

  &__category {
    font-size: 0.875rem;
    text-align: right;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    align-self: center;
    flex-basis: 10rem;
  }

  &__bar {
    position: relative;
    background-color: currentColor;
    display: flex;
    align-items: center;
  }

  &__value {
    font-size: 0.875rem;
    font-weight: bold;
    position: absolute;
    left: 100%;
    margin-left: 1rem;
    padding: 0.125rem;
    display: flex;
    align-items: center;
    background-color: white;
  }

  &--set1 {
    @include bar-chart-themer($set1, 9);
  }

  &--set2 {
    @include bar-chart-themer($set2, 9);
  }

  &--set3 {
    @include bar-chart-themer($set3, 9);
  }

  &--set4 {
    @include bar-chart-themer($set4, 9);
  }

  &--set5 {
    @include bar-chart-themer($set5, 9);
  }
}
