.cmp-form {
  margin: 0 0 4rem;

  &__label {
    font-family: $font-heading;
    font-style: normal;
    font-weight: 700;
    color: $hotpink;
    font-size: 2rem;
    line-height: 1.25;
    text-shadow: 0 0 6px 0 rgba($yellow, 0.2);
    margin-bottom: 1.5rem;

    @supports (background-clip: text) {
      position: relative;
      color: transparent;
      top: 0;
      background-image: linear-gradient(90deg, $yellow 0%, $orange 100%);
      background-clip: text;
      z-index: 2;
    }
  }

  &__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0;

    @media (min-width: $bp-sm) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  &__border {
    border: 3px solid transparent;
    border-radius: 0.375rem;
    background-image: linear-gradient($black, $black), radial-gradient(circle at top left, $yellow,$hotpink);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 100%;

    @media (min-width: $bp-sm) {
      width: 76%;
    }

    @media (min-width: $bp-md) {
      width: 80%;
    }

    &:focus-within {
      border: 3px solid $white !important;
    }
  }

  &__input {
    color: $white;
    background: $black;
    border: none;
    font-size: 1.75rem;
    padding: 0.5rem 1rem;
    width: calc(100% - 2rem);

    @media (min-width: $bp-sm) {
      font-size: 2rem;
    }

    &::placeholder {
      color: $yellow;
    }

    &:focus {
      box-shadow: unset;
    }
  }

  &__button {
    @include unbuttonize;
    color: $black;
    position: relative;
    font-family: $font-heading;
    font-size: 1.5rem;
    line-height: 1.1;
    padding: 1rem;
    background: linear-gradient(90deg, $yellow 0%, $orange 100%);
    border-radius: 0.375rem;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    transform: scale(1);
    transition: transform 150ms ease;

    @media (min-width: $bp-sm) {
      width: auto;
      margin-top: 0;
    }

    &:hover {
      // animation: moving-gradient 1000ms linear alternate infinite;
      transform: scale(1.05);
      background-size: 200%;
    }
  }

  &__placeholder {
    font-family: Helvetica;
    font-size: 32px;
    color: #F3C448;
    letter-spacing: 0;
  }
}

@keyframes moving-gradient {
	0% {
    background-position: 0% 0%;
  }
	100% {
    background-position: 100% 100%;
  }
}
