.cmp-percentage-card {
  margin: 2rem;
  text-align: center;

  &__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: $bp-md) {
      flex-wrap: nowrap;
    }
  }

  &__icon {
    height: 35vw;
    max-height: 16.25rem;
    max-width: 16.25rem;

    @media (min-width: $bp-md) {
      height: 20vw;
      align-self: start;
    }
  }

  &__label {
    margin: 1.5rem 0 0.5rem;
    align-self: start;
  }

  &__percentage {
    font-family: $font-heading;
    font-style: normal;
    font-weight: 800;
    font-size: 2.875rem;
  }
}
