.cmp-feature-list {
  @include delist;
  counter-reset: count;
  list-style: none;
  margin: 2rem 0;

  &__flex {
    margin: 2rem auto;
    counter-reset: count 3;

    @media (min-width: $bp-sm) {
      display: flex;
      justify-content: space-between;
      margin: 4rem auto;
      width: $max-width;
      max-width: calc(100% - 2rem);
    }
  }

  &__container {
    @media (min-width: $bp-sm) {
      max-width: 50%;

      & + & {
        margin-left: 2rem;
      }
    }
  }

  &__title {
    font-family: $font-body;
    font-size: 2.25rem;
    color: $white;
    letter-spacing: 0;
    line-height: 1.1;
    margin: 1rem;

    @include print {
      color: $print-black;
    }
  }

  &__description {
    color: $white;
    font-family: $font-body;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin: 0 1rem 2rem;

    @include print {
      color: $print-black;
    }
  }

  &__item {
    @include body-copy;
    line-height: 1.65;
    margin: 0 auto;
    counter-increment: count;
    position: relative;
    margin-left: 3.25rem;

    &::before {
      content: counter(count)".";
      color: $hotpink;
      font-weight: bold;
      display: inline-block;
      min-width: 2.125rem;
      text-align: right;
      position: absolute;
      left: -2.75rem;
    }
  }
}
