.cmp-diagram {
  width: calc(100% - 2rem);
  margin: 0 auto;

  // Hide the table unless it has keyboard focus since it
  // is an accessible version of the chart
  &__table {
    max-width: $max-width;
    margin: 2rem auto;
    overflow: auto;
    display: none;

    &:focus {
      position: inherit !important;
      width: auto !important;
      height: auto !important;
    }

    &--vertical {
      display: block;

      @media (min-width: $bp-md) {
        display: none;
      }
    }

    .lt-ie10 & {
      display: block;
    }

    @include print {
      display: block;
      overflow: visible;
    }
  }

  &__chart {
    display: block;

    &--vertical {
      @media (min-width: $bp-md) {
        display: block;
      }
    }

    .lt-ie10 & {
      display: none;
    }

    @include print(hide);
  }
}
