.cmp-newsletter {
  padding: 3em;
  background-color: #f3f3f3;
  
  &__text {
    font-size: 1em;
  }

  &__form {
    margin-top: $space-xxl;
  }

  &__input-label {
    font-size: 0.8em;
    font-weight: bold;
    margin: 0;
  }

  &__input {
    box-sizing: border-box;
    margin-top: $space-sm;
    border: solid black 2px;
    height: 2.5em;
    width: 100%;
    font-size: 1em;

    @media (min-width: 45em) {
      max-width: 45%;
      float: left;
    }
  }

  &__button {
    background-color: black;
    color: white;
    border: solid black 2px;
    height: 2.5em;
    width: 100%;
    font-size: 1em;

    @media (min-width: 45em) {
      display: inline-block;
      width: 8em;
      margin-top: $space-sm;
    }
  }
}