// Two tone gradient headers, hero section, TOC
// previously headline-1
.chrome {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  margin: 0;
  font-size: 9vw;
  white-space: nowrap;
  color: $hotpink;

  @supports (background-clip: text) {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    filter: drop-shadow(0 0.0325em 0 #8D0429);
    background: linear-gradient(0deg, #F448AF 21%, #4A062F 42%, $black 43%, #D2F0FD 45%, #146C8C 63%, #082534 77%);
    background-clip: text;
    -webkit-text-stroke: 1px #EEABEF;
  }

  &--small {
    font-size: 6vw;
  }
}

// For "Survey," TOC numbers, etc.
.accent-font {
  font-family: $font-script;
  text-align: center;
  font-size: 25vmin;
  color: $blue;
  transform: rotate(-10deg);
  text-shadow:
    0 0 0.075em rgba($blue, 0.6),
    0 0.02em 0 darken($blue, 32%),
    -0.0075em 0.005em 0 $white,
    0.01em 0.005em 0 $white,
    0 0 0.01em $black
    ;
}

// Section headers
// previously headline-2
.section-heading {
  font-family: $font-heading;
  color: $white;
  font-size: 5rem;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0 2px 64px $black, 0 2px 4px $black, 0 2px 30px $black;
}

// For callout quotes, pink to orange gradient
// previously headline-3
.primary-content-heading {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  font-size: 2.75rem;
  line-height: 1.2;
  text-shadow: 0 0 6px 0 rgba(243,196,72,0.2);
  color: $hotpink;

  @supports (background-clip: text) {
    position: relative;
    content: attr(data-text);
    color: transparent;
    top: 0;
    background-image: linear-gradient(180deg, $hotpink 0%, $yellow 100%);
    background-clip: text;
    z-index: 2;
  }
}

// yellow to orange gradient
.secondary-heading {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  color: $hotpink;
  font-size: 2rem;
  line-height: 1.5;
  text-shadow: 0 0 6px 0 rgba(243,196,72,0.2);

  @supports (background-clip: text) {
    position: relative;
    content: attr(data-text);
    color: transparent;
    top: 0;
    background-image: linear-gradient(90deg, $yellow 0%, $orange 100%);
    background-clip: text;
    z-index: 2;
  }
}

// triple border bottom heading
.diagram-heading {
  $size: 4rem;

  margin: 0;
  padding-bottom: $size;
  position: relative;
  color: $white;
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '';
    display: block;
    width: 15rem;
    height: 0.125rem;
    position: absolute;
    top: calc(100% - #{$size / 2} - 0.0625rem);
    left: calc(50% - 7.5rem);
    background-color: mix($hotpink, $orange, 50%);
    box-shadow: 0 -0.25rem $hotpink, 0 0.25rem $orange;
  }
}

// small copy underneath diagram-heading
.diagram-copy {
  color: $white;
  font-family: $font-body;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  max-width: 40rem;
  margin: 0 auto;
}

// Table of contents items
// previously headline-4
.label-heading {
  font-family: $font-heading;
  font-style: normal;
  font-weight: 800;
  color: $white;
  font-size: 1.875rem;
}

// Intro text
.body-copy--large {
  @include body-copy;
  font-size: 1.75rem;
  line-height: 1.5;
}
