$glow: #8115b0;
$bgsize: 80px;
$size: $bgsize $bgsize;
$lines: rgba($glow, 0) 0, rgba($glow, 0) 32px, rgba($glow, 0.35) 39px, $glow 40px, $glow 42px, rgba($glow, 0.35) 43px, rgba($glow, 0) 50px, rgba($glow, 0) 80px;
// $lines: rgba($glow, 0) 0, rgba($glow, 0) 39px, $glow 40px, $glow 42px, rgba($glow, 0) 43px, rgba($glow, 0) 80px;

// z-index order
$z-sky: 97;
$z-lightning: 98;
$z-mountains: 99;
$z-ground: 100;


.cmp-hero {
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__noise {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url("/images/noise.png") repeat center scroll / 150px 150px;
    mix-blend-mode: overlay;
    opacity: 0.3;
  }

  &__flood {
    position: absolute;
    z-index: 102;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #733caa;
    opacity: 0.18;
    mix-blend-mode: screen;

    &::before {
      content: '';
      display: block;
      position: absolute;
      z-index:103;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      animation: flash 150ms 5s ease-out;
      background-color: $white;
    }
  }

  &__sky {
    position: absolute;
    z-index: $z-sky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("/images/sky.jpg") no-repeat top center scroll / cover;
    animation: sky 5s ease-out forwards;
  }

  &__mountains {
    position: absolute;
    z-index: $z-mountains;
    bottom: 25vh;
    left: 0;
    width: 100%;
    height: 75vh;
    background: url("/images/mountains.png") no-repeat bottom center scroll / contain;
    animation: mountains 5s ease-out forwards;
  }

  &__ligntning-left {
    z-index: $z-lightning;
    background:
      url("/images/lightning-bright.png") no-repeat top left scroll / contain,
      url("/images/lightning-dim.png") no-repeat top right scroll / contain;
    position: absolute;
    height: 75vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 0;
    filter: drop-shadow(0 0 2px $white) drop-shadow(0 0 40px $white);
    animation: lightning linear 50ms 5100ms forwards;
  }

  &__ground {
    z-index: $z-ground;
    position: absolute;
    perspective: 1000px;
    top: 75vh;
    left: 0;
    height: 25vh;
    width: 100vw;
    overflow: hidden;
    background-color: $black;
    border-top: 1px solid $blue;
  }

  &__ground-tilt {
    position: absolute;
    z-index: 100;
    top: 0;
    left: -50vw;
    height: 100vh;
    width: 200vw;
    backface-visibility: visible;
    transform-style: preserve-3d;
    transform-origin: 0 0;
    transform: rotateX(75deg);
  }

  &__ground-shadow {
    position: absolute;
    z-index: 200;
    top: calc(75vh + 1px);
    left: 0;
    height: calc(25vh - 1px);
    width: 100vw;
    background:
      linear-gradient(-45deg, $black 0%, rgba($black, 0) 40%),
      linear-gradient(120deg, $black 0%, rgba($black, 0) 40%);
  }

  &__ground-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    $height: 200vh;
    width: 100%;
    height: $height;
    background:
      linear-gradient(to left, $lines ) repeat top $bgsize*0.5 center scroll / $size,
      linear-gradient(to bottom, $lines ) repeat top $bgsize*0.5 center scroll / $size;
    animation: fly 5s ease-out forwards;
    transform: translateY(#{$height * -0.5});
  }

  &__people {
    $img-size: 4rem;
    z-index: 101;
    background: url("/images/people.png") no-repeat center center scroll / contain;
    height: $img-size;
    width: $img-size;
    position: absolute;
    left: calc(50% - #{$bgsize * 2});
    top: calc(50% - #{$img-size * 0.5});
    opacity: 0;
    transform: rotateX(-75deg) translateY(-12.5vh) translateX(#{$bgsize}) scale(0.1);
    animation: people 4.7s ease-out forwards;
  }

  &__ground-glow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 25vh;
    width: 100%;
    background: 
      radial-gradient(ellipse at top, rgba($glow, 0.6), rgba($glow, 0) 40%);
  }

  &__shape {
    background: no-repeat center center scroll / contain;
    position: absolute;
    z-index: 200;

    &--pyramid {
      $size: 25vmin;
      $ratio: 638 / 687;
      $width: $size * $ratio;
      height: $size;
      width: $width;
      top: calc(50% - #{$width * 0.5});
      left: calc(50% - #{$width * 0.5});
      
      background-image: url("/images/pyramid.png");
      animation:
        pyramid-glow ease-in-out  4s 0.25s alternate infinite,
        pyramid-float ease-in-out 6s alternate infinite;

    @keyframes pyramid-glow {
      from {
        filter: drop-shadow(0 0 0.25rem #fd5aff) drop-shadow(0 0 1rem #fd5aff) saturate(100%);
      }
      to {
        filter: drop-shadow(0 0 0.25rem #fd5aff) drop-shadow(0 0 1.5rem #fd5aff) saturate(140%);
      }
    }

    @keyframes pyramid-float {
      from {
        transform: translate(-25vw, -10vh) rotate(0deg);
      }
      to {
        transform: translate(-25vw, -9vh) rotate(6deg);
      }
    }
    }

    &--cube {
      $size: 20vmin;
      $ratio: 545 / 595;
      $width: $size * $ratio;
      height: $size;
      width: $width;
      top: calc(50% - #{$width * 0.5});
      left: calc(50% - #{$width * 0.5});
      transform: translate(20vw, -25vh);
      background-image: url("/images/cube.png");
      animation:
        cube-glow ease-in-out 2.5s 0.5s alternate infinite,
        cube-float ease-in-out 10s alternate infinite;
    }

    @keyframes cube-glow {
      from {
        filter: drop-shadow(0 0 0.25rem #ffe25a) drop-shadow(0 0 1rem #ffe25a) saturate(100%);
      }
      to {
        filter: drop-shadow(0 0 0.25rem #ffe25a) drop-shadow(0 0 1.5rem #ffe25a) saturate(140%);
      }
    }

    @keyframes cube-float {
      from {
        transform: translate(20vw, -25vh) rotate(0);
      }
      to {
        transform: translate(20.5vw, -24.5vh) rotate(3deg);
      }
    }

    &--diamond {
      $size: 23vmin;
      $ratio: 694 / 500;
      $width: $size * $ratio;
      height: $size;
      width: $width;
      top: calc(50% - #{$width * 0.5});
      left: calc(50% - #{$width * 0.5});
      transform: translate(22vw, 12vh);
      background-image: url("/images/diamond.png");
      animation:
        diamond-glow ease-in-out 2s alternate infinite,
        diamond-float ease-in-out 5s alternate infinite;
    }

    @keyframes diamond-glow {
      from {
        filter: drop-shadow(0 0 0.25rem #98ff5a) drop-shadow(0 0 1rem #98ff5a) saturate(100%);
      }
      to {
        filter: drop-shadow(0 0 0.25rem #98ff5a) drop-shadow(0 0 1.5rem #98ff5a) saturate(140%);
      }
    }

    @keyframes diamond-float {
      from {
        transform: translate(22vw, 12vh) rotateX(0);
      }
      to {
        transform: translate(22vw, 13vh) rotateX(-6deg);
      }
    }

    &--dodecahedron {
      $size: 45vmin;
      $ratio: 806 / 813;
      $width: $size * $ratio;
      height: $size;
      width: $width;
      top: calc(50% - #{$width * 0.5});
      left: calc(50% - #{$width * 0.5});
      transform: translate(0, -5vh);
      background-image: url("/images/dodecahedron.png");
      animation:
        dodecahedron-glow ease-in-out 3s alternate infinite,
        dodecahedron-float ease-in-out 4s alternate infinite;
    }

    @keyframes dodecahedron-glow {
      from {
        filter: drop-shadow(0 0 0.25rem #ffeeba) drop-shadow(0 0 1rem #ffeeba) saturate(90%);
      }
      to {
        filter: drop-shadow(0 0 0.25rem #ffeeba) drop-shadow(0 0 1.5rem #ffeeba) saturate(120%);
      }
    }

    @keyframes dodecahedron-float {
      from {
        transform: translate(0, -5vh) rotateX(0);
      }
      to {
        transform: translate(-0.5vw, -3vh) rotateX(3deg);
      }
    }
  }
}

@keyframes sky {
  from {
    transform: translateY(#{-($bgsize * 2) + 30});
  }
  to {
    transform: translateY(#{-$bgsize * 2});
  }
}

@keyframes mountains {
  from {
    transform: translateY(#{$bgsize * 0.5});
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fly {
  to {
    transform: translateY(0);
  }
}

@keyframes lightning {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes people {
  from {
    opacity: 0;
    transform: rotateX(-75deg) translateY(calc(-12.5vh - 2rem) ) translateX(#{$bgsize}) scale(0.1);
  }
  to {
    opacity: 1;
    transform: rotateX(-75deg) translateY(0) translateX(0) scale(1);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


