.cmp-percentage-list {
  @include delist;
  margin: 2rem auto;
  max-width: $bp-lg;
  counter-reset: count 3;

  @media (min-width: $bp-md) {
    columns: 2;
    column-gap: 1rem;
    margin: 4rem auto;
  }

  &__item {
    @include body-copy;
    line-height: 1.65;
    margin: 0 auto;
    counter-increment: count;
    position: relative;
    display: flex;

    &::before {
      content: counter(count)".";
      color: $hotpink;
      font-weight: bold;
      display: inline-block;
      width: 2.125rem;
      text-align: right;
      margin-right: 0.5rem;
    }
  }
}
