@mixin apply-section-intro-box-set-gradient($set) {
  $top: map-get($set, top);
  $middle: map-get($set, middle);
  $bottom: map-get($set, bottom);

  background-image: linear-gradient(150deg, $top, $middle, $bottom);

  // This stretches out the background gradient a bit
  // so that the middle part is visible. This prevents
  // colors from being too light or too dark around
  // the edges.
  background-size: 110%;
  background-position: 50%;
}

.cmp-section-intro-box {
  background-color: white;

  // Contain absolute border
  position: relative;

  // This makes the element full-width, minus page margin
  width: calc(100% - #{$space-page-margin * 2});
  margin-left: auto;
  margin-right: auto;

  // This is a magic number that happens to look good for
  // all our headlines and creates minimal awkward line breaks.
  // If you change this value, look over all the content
  // to make sure it still looks decent.
  max-width: 35.8rem;

  margin-top: 30vh;
  margin-bottom: 30vh;

  box-sizing: border-box;
  padding: 2.2rem 2.7rem;

  text-align: center;

  &::before {
    // Draw border

    $border-width: 4px;
    
    content: '';
    position: absolute;

    left: -$border-width;
    right: -$border-width;
    top: -$border-width;
    bottom: -$border-width;

    // This is the default border color. If for some
    // reason a modifier class doesn't get applied,
    // this is what's shown.
    background-color: #aaa;
    
    // Pull down below containing element
    z-index: -1;

  }

  &--set-1::before {
    @include apply-section-intro-box-set-gradient($set1);
  }

  &--set-2::before {
    @include apply-section-intro-box-set-gradient($set2);
  }

  &--set-3::before {
    @include apply-section-intro-box-set-gradient($set3);
  }

  &--set-4::before {
    @include apply-section-intro-box-set-gradient($set4);
  }

  &--set-5::before {
    @include apply-section-intro-box-set-gradient($set5);
  }

  &__roman-numeral {
    position: absolute;

    // This pulls the numeral up into the border
    top: -0.7em;

    padding: 0 0.5rem;

    font-size: 0.875rem;
    letter-spacing: 0.03em;

    background-color: white;

    // This centers the element without needing to know
    // its width
    left: 50%;
    transform: translateX(-50%);
  }

  &__text {
    font-size: 6vw;

    @media (min-width: 44em) {
      font-size: 44rem * 0.06;
    }
  }
}
