@mixin apply-major-section-custom-props($set) {
  $top: map-get($set, top);
  $middle: map-get($set, middle);

  $accent-color-light: mix(mix($top, $middle, 90%), white, 50%);

  $accent-color: mix($top, $middle, 50%);

  --accent-color-light: #{$accent-color-light};
  --accent-color-full: #{$accent-color};
}

.cmp-major-section {
  --accent-color: #ddd;

  padding-top: calc(#{$space-xxxl/2} + 5vh);
  margin-top: calc(#{$space-xxxl/2} + 5vh);

  @media only print {
    padding-top: 0 !important;
    margin-top: 30pt !important;
  }

  &--section-1 {
    @include apply-major-section-custom-props($set1);
  }

  &--section-2 {
    @include apply-major-section-custom-props($set2);
  }

  &--section-3 {
    @include apply-major-section-custom-props($set3);
  }

  &--section-4 {
    @include apply-major-section-custom-props($set4);
  }

  &--section-5 {
    @include apply-major-section-custom-props($set5);
  }
}
