// @supports (display: flex) is used in this file to prevent
// some styles from reaching IE11
.cmp-stacked-chart {
  $flex-direction-row: 46rem;

  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 0.125rem 0 0;
  padding-bottom: 5rem;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $bp-chart-header-pop) {
    @supports (display: grid) {
      display: grid;
      grid-auto-rows: 1fr;
      grid-row-gap: 0.125rem;
    }
  }

  @media (min-width: $bp-chart-header-pop) {
    @supports (display: flex) {
      margin-left: -$chart-header-width;
      width: calc(100% + #{$chart-header-width});
    }
  }

  @media (min-width: $bp-chart-header-large) {
    @supports (display: flex) {
      margin-left: -$chart-header-large;
      width: calc(100% + #{$chart-header-large});
    }
  }

  &__range {
    position: absolute;
    width: 100%;
    top: -0.125rem;
    bottom: 1.5rem;
    font-weight: bold;
    pointer-events: none;
  }

  &__low,
  &__high {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    height: 100%;
  }

  &__range-value {
    position: absolute;
    bottom: 0;
  }

  &__low {
    left: 0;

    @media (min-width: $bp-chart-header-pop) {
      @supports (display: flex) {
        left: $chart-header-width - 0.25;
      }
    }

    @media (min-width: $bp-chart-header-large) {
      @supports (display: flex) {
        left: $chart-header-large - 0.25;
      }
    }
  }

  &__high {
    right: 0;
    text-align: right;
    padding-right: 2em;
  }

  &__entry {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $bp-chart-header-pop) {
      @supports (display: flex) {
        height: 3rem;
        margin-bottom: 0.125rem;
      }

      @supports (display: grid) {
        margin-bottom: 0;
        height: auto;
        display: grid;
        grid-template-columns: $chart-header-width auto;
      }
    }

    @media (min-width: $bp-chart-header-large) {
      @supports (display: grid) {
        grid-template-columns: $chart-header-large auto;
      }
    }
  }

  &__legend {
    @include delist;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
    flex-direction: column;

    @supports (display: flex) {
      height: auto;
    }

    @media (min-width: $flex-direction-row) {
      height: 2em;
      flex-direction: row;
    }

    @supports (display: grid) {
      grid-column: 1 / span 2;
    }

    @media (min-width: 38rem) {
      @supports (display: grid) {
        grid-column: 2;
      }
    }
  }

  &__key {
    @media (min-width: $flex-direction-row) {
      display: inline-block;
      float: left;
    }

    @supports (display: flex) {
      display: flex;
      align-items: center;
    }


    font-size: 0.8rem;

    & + & {
      margin-top: 1rem;

      @media (min-width: $flex-direction-row) {
        margin-top: 0;
        margin-left: $space-xl;
      }
    }

    &::before {
      content: '';
      display: inline-block;
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      flex-basis: 2rem;
    }

    &--na::before {
      background-color: #E1E1E1;
    }

    &--1-3::before {
      background-color: gray;
    }

    &--4-5::before {
      background-color: black;
    }
  }

  &__category {
    font-size: 0.875rem;
    padding: 0.75rem 0 0.125rem;
    flex-basis: 100%;

    @media (min-width: $bp-chart-header-pop) {
      @supports (display: flex) {
        align-self: center;
        flex-basis: $chart-header-width;
        text-align: right;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
      }
    }

    @media (min-width: $bp-chart-header-large) {
      @supports (display: flex) {
        flex-basis: $chart-header-large;
      }
    }
  }

  &__group {
    display: flex;
    width: 100%;
    align-items: stretch;
    min-height: 4.5rem;
  }

  &__bar {
    display: inline-block;
    height: 4.5rem;
    float: left;
    flex: 1 1 auto;

    &--na {
      background-color: #E1E1E1;
    }

    &--1-3 {
      background-color: gray;
    }

    &--4-5 {
      background-color: black;
    }
  }

  &__value {
    font-size: 0.875rem;
    font-weight: bold;
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
  }

  // Theme 2 Charts
  &--motivation {
    @include stacked-bar-chart-themer($set2-a, $set2-b, 6);
  }

  // Theme 3 Charts
  &--valuation {
    @include stacked-bar-chart-themer($set3-a, $set3-b, 8);
  }

  // Theme 4 Charts
  &--prevention {
    @include stacked-bar-chart-themer($set4-a, $set4-b, 10);
  }

}
