$table-padding: 0.25rem 0.5rem;

table {
  @include body-copy;
  border: 1px solid $gray;
  border-spacing: unset;
  border-collapse: collapse;
  margin: 2rem auto;
  width: 100%;
}

th {
  width: 75%;
  border: 1px solid $gray;
  padding: $table-padding;
}

td {
  color: $yellow;
  border: 1px solid $gray;
  padding: $table-padding;
}
