p:not([class]) {
  @include body-copy;
}

a[href]:not([class]) {
  color: $blue;
  border-bottom: 1px solid $blue;
  text-decoration: none;
  transition: border-bottom ease 150ms;

  &:hover {
    border-bottom: transparent;
  }

  &:visited {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}

mark {
  background: none;
  color: $yellow;
}
