
ol:not([class]),
ul:not([class]) {
  margin: 1.5rem auto;
  max-width: $max-width-content;
}

li:not([class]) {
  @include body-copy;
  color: $white;
  margin-bottom: 0.25rem;
}

ol:not([class]) {
  counter-reset: count;
  list-style: none;

  li:not([class]) {
    counter-increment: count;
    position: relative;

    &::before {
      content: counter(count)".";
      color: $hotpink;
      font-weight: bold;
      display: inline-block;
      position: absolute;
      right: calc(100% + 1rem);
    }
  }
}

ul:not([class]) {
  list-style: none;

  li:not([class]) {
    position: relative;

    &::before {
      content: '•';
      color: $hotpink;
      display: inline-block;

      position: absolute;
      right: calc(100% + 1rem);
    }
  }
}
