h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  max-width: $max-width-headers;
  margin: 0 auto;
}

p:not([class]) {
  @include body-copy;
  max-width: $max-width-content;
  margin: 0 auto;
}

a[href]:not([class]) {
  color: $blue;
  border-bottom: 1px solid $blue;
  text-decoration: none;
  transition: border-bottom ease 150ms;

  &:hover {
    border-bottom: transparent;
  }

  &:visited {
    color: $orange;
    border-bottom: 1px solid $orange;
  }
}

mark {
  background: none;
  color: $yellow;
}
