@keyframes block-drop {
  from {
    opacity: 0;
    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes block-raise {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes reveal-back-to-top {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes reveal-table {
  from {
    opacity: 0;
    transform: translateY(-20px) scaleY(0.85);
  }
  to {
    opacity: 1;
    transform: translateY(0px) scaleY(1);
  }
}
