.obj-layout-max-width {
  max-width: $max-width;
  margin: 0 auto;
}

.obj-layout-header-max-width {
  max-width: $max-width-headers;
  margin: 0 auto;
}

.obj-layout-content-max-width {
  max-width: $max-width-content;
  margin: 0 auto;
}
