$bp-xs: 30rem;
$bp-sm: 40rem;
$bp-md: 50rem;
$bp-lg: 60rem;
$bp-xl: 80rem;

$breakpoints: (
  xs: $bp-xs,
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg,
  xl: $bp-xl
);

// Breakpoints for Respondents Diagram
$bp-respond-start-grid: $bp-sm;
$bp-respond-stop-overlap: $bp-md;
$bp-respond-medium-layout: $bp-lg;
$bp-respond-size-bump-medium: 68.25rem;
$bp-respond-size-bump-large: $bp-xl;

// Breakpoints for footer
$bp-footer-sm: 44.625rem;
$bp-footer-md: 53rem;
