$black: #11161C;
$blue: #15CBF4;
$hotpink: #DF138C;
$orange: #FF8A00;
$yellow: #F3C448;
$green: #42E915;
$white: #FFFFFF;
$gray: mix($white, $black, 50%);
$table-border: lighten($black, 40%);
$print-black: black;

$colors: (
  "blue": $blue,
  "hotpink": $hotpink,
  "orange": $orange,
  "green": $green,
  "yellow": $yellow,
  "white": $white
);
