$c-black: #111;
$c-link: #00a0ba;

$set1: (
  top: #d8f0e0,
  middle: #48acbf,
  bottom: #452098
);

$set2: (
  top: #e9ecc5,
  middle: #51adbd,
  bottom: #004a76
);

$set3: (
  top: #ffe5e5,
  middle: #4a9dae,
  bottom: #0a1582
);

$set4: (
  top: #ffe6e6,
  middle: #a370aa,
  bottom: #0a1582
);

$set5: (
  top: #fbd9ff,
  middle: #de6e6f,
  bottom: #32374d
);

@function get-set($set, $color) {
  $result: map-get(#{$set}, $color);
  @return $result;
}

@mixin bar-chart-themer($set, $count) {
  $half: $count/2;
  $top: map-get($set, top);
  $middle: map-get($set, middle);
  $bottom: map-get($set, bottom);
  @for $i from 1 through $count {
    @if $i >= 1 and $i < $half {
      .cmp-chart__entry:nth-child(#{$i}) .cmp-chart__bar {
        background-color: mix($middle, $top, (($i - 1) / $half) * 100%);
      }
    }

    @if $i >= $half and $i <= $count {
      .cmp-chart__entry:nth-child(#{$i}) .cmp-chart__bar {
        background-color: mix($bottom, $middle, (($i - $half) / $half) * 100%);
      }
    }
  }
}

@mixin stacked-bar-chart-themer($set, $count) {
  $top: map-get($set, top);
  $middle: map-get($set, middle);
  $bottom: map-get($set, bottom);

  .cmp-stacked-chart__key--1-3::before {
    background: linear-gradient(to bottom, $middle, $top);
  }

  .cmp-stacked-chart__key--4-5::before {
    background: linear-gradient(to bottom, $bottom, $middle);
  }

  @for $i from 1 through $count {
    .cmp-stacked-chart__entry--#{$i} .cmp-stacked-chart__bar--1-3 {
      background-color: mix($top, $middle, (($i - 1) / $count) * 100%);
    }

    .cmp-stacked-chart__entry--#{$i} .cmp-stacked-chart__bar--4-5 {
      background-color: mix($middle, $bottom, (($i - 1) / $count) * 100%);
    }
  }
}

