$c-black: #111;
$c-link-blue: #007E9E;
$c-gray: #ccc;
$c-footer-text: #3A3A3A;

$set1: (
  top: #CBF3FF,
  middle: #50B7C8,
  bottom: #A550C8
);

$set2: (
  top: #e9ecc5,
  middle: #51adbd,
  bottom: #004a76
);

$set2-a: (
  top: #0E4C72,
  bottom: #307996
);

$set2-b: (
  top: #CADDC7,
  bottom: #7ABCBD
);

$set3: (
  top: #F0E7C9,
  middle: #D37869,
  bottom: #562493
);

$set3-a: (
  top: #784284,
  bottom: #562F8F
);

$set3-b: (
  top: #E6C7B1,
  bottom: #DDA896
);

$set4: (
  top: #ffe6e6,
  middle: #a370aa,
  bottom: #0a1582
);

$set4-a: (
  top: #624E9A,
  bottom: #0F207E
);

$set4-b: (
  top: #DEBFD2,
  bottom: #A173A8
);

$set5: (
  top: #fbd9ff,
  middle: #de6e6f,
  bottom: #32374d
);

@function get-set($set, $color) {
  $result: map-get(#{$set}, $color);
  @return $result;
}

@mixin bar-chart-themer($set, $count) {
  $half: $count/2;
  $top: map-get($set, top);
  $middle: map-get($set, middle);
  $bottom: map-get($set, bottom);
  @for $i from 1 through $count {
    @if $i >= 1 and $i < $half {
      .cmp-chart__entry--#{$i} .cmp-chart__bar {
        background-color: mix($middle, $top, (($i - 1) / $half) * 100%);
      }
    }

    @if $i >= $half and $i <= $count {
      .cmp-chart__entry--#{$i} .cmp-chart__bar {
        background-color: mix($bottom, $middle, (($i - $half) / $half) * 100%);
      }
    }
  }
}

@mixin stacked-bar-chart-themer($set-a, $set-b, $count) {
  $top-a: map-get($set-a, top);
  $bottom-a: map-get($set-a, bottom);

  $top-b: map-get($set-b, top);
  $bottom-b: map-get($set-b, bottom);

  .cmp-stacked-chart__key--1-3::before {
    background: linear-gradient($top-a, $bottom-a);
  }

  .cmp-stacked-chart__key--4-5::before {
    background: linear-gradient($top-b, $bottom-b);
  }

  @for $i from 1 through $count {

    .cmp-stacked-chart__entry--#{$i} .cmp-stacked-chart__bar--1-3 {
      background-color: mix($bottom-a, $top-a, (($i - 1) / $count) * 100%);
    }

    .cmp-stacked-chart__entry--#{$i} .cmp-stacked-chart__bar--4-5 {
      background-color: mix($bottom-b, $top-b, (($i - 1) / $count) * 100%);
    }
  }
}

