// Two tone gradient headers, hero section, TOC
@mixin chrome {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  margin: 0;
  font-size: 9vw;
  white-space: nowrap;

  [data-text] {
    font-family: inherit;
    color: #F448AF;

    @supports (background-clip: text) {
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      -webkit-text-stroke: 1px #EEABEF;
      filter: drop-shadow(0 0.0325em 0 #8D0429);

      &::before {
        position: absolute;
        content: attr(data-text);
        color: rgba(0,0,0,0);
        display: block;
        top: 0;
        background: linear-gradient(0deg, #F448AF 21%, #4A062F 42%, #11161C 47%, #D2F0FD 48%, #146C8C 63%, #082534 77%);
        background-clip: text;
        z-index: 2;
      }
    }
  }
}

// previously headline-1
.chrome {
  @include chrome;
}

.chrome--small {
  @include chrome;
  font-size: 6vw;
}

// For "Survey," numbered list numbers, etc.
@mixin accent-font {
  font-family: 'Yellowtail', sans-serif;
  text-align: center;
  font-size: 25vmin;
  color: $blue;
  transform: rotate(-10deg);
  text-shadow:
    0 0 0.075em rgba($blue, 0.6),
    0 0.02em 0 darken($blue, 32%),
    -0.0075em 0.005em 0 $white,
    0.01em 0.005em 0 $white,
    0 0 0.01em black
    ;
}

.accent-font {
  @include accent-font;
}

// Section headers
// previously headline-2
@mixin section-heading {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  color: $white;
  font-size: 5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  text-shadow: 0 2px 64px #11161C, 0 2px 4px #11161C, 0 2px 30px #11161C;
}

.section-heading {
  @include section-heading;
}

// For callout quotes
// previously headline-3
@mixin primary-content-heading {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2.75rem;
  line-height: 3rem;
  text-shadow: 0 0 6px 0 rgba(243,196,72,0.2);

  [data-text] {
    font-family: inherit;
    color: $hotpink;

    @supports (background-clip: text) {
      position: relative;
      display: inline-block;

      &::before {
        position: absolute;
        content: attr(data-text);
        color: rgba(0,0,0,0);
        display: block;
        top: 0;
        background-image: linear-gradient(180deg, $hotpink 0%, #F3C448 100%);
        background-clip: text;
        z-index: 2;
      }
    }
  }
}

.primary-content-heading {
  @include primary-content-heading;
}

@mixin diagram-heading {
  color: $white;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 3.5rem;

  &::after {
    content: '';
    display: block;
    width: 15rem;
    height: 0.125rem;
    position: absolute;
    top: calc(100% - 2.25rem);
    left: calc(50% - 7.5rem);
    background-color: $hotpink;
    box-shadow: 0 0.25rem mix($hotpink,$orange,50%), 0 0.5rem $orange;
  }
}

.diagram-heading {
  @include diagram-heading;
}

@mixin diagram-copy {
  color: $white;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
}

.diagram-copy {
  @include diagram-copy;
}

// Table of contents items
// previously headline-4
@mixin label-heading {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 800;
  color: $white;
  font-size: 1.875rem;
}

.label-heading {
  @include label-heading;
}

@mixin body-copy {
  color: $white;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
}

.body-copy {
  @include body-copy;
}

//previously headline-5
.body-copy--large {
  @include body-copy;
  font-size: 1.75rem;
  line-height: 2.375rem;
}
