.util-bold {
  font-weight: 800;
}

.util-italic {
  font-style: italic;
}

.util-superscript {
  font-size: 0.5em;
}

.util-align-left {
  text-align: left;
}

.util-align-right {
  text-align: right;
}

.util-align-center {
  text-align: center;
}
