.util-visually-hidden {
  // The position, bottom, and right properties
  // ensure that the element is completely off
  // screen without the use of arbitrary numbers
  position: fixed;
  right: 100%;
  bottom: 100%;
  // The clip paths properties ensure that any
  // box shadows, filters, or other visual effects
  // ouside the box model to not leak on to the page.
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
