---
order: 60
---
<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box
    sectionTitle='Next Steps'}}

  <div class="obj-limit-width cmp-body-text">
{{#markdown}}

### A design system is an investment in your future, and one that takes _conversation, collaboration, and expectation-setting_ to succeed.

Building a single source of truth for design, code, and content is not a one-time project. It represents a shift in the way your organization works.

Through conducting this survey and reflecting on Sparkbox’s experiences with design systems, we have found that the best way to ensure your design system succeeds is through continuous communication and collaboration. This means treating it as a living, breathing product that is created and maintained by a cross-disciplinary, partially or fully dedicated team, and has leadership-level champions who advocate for adoption, staffing, and value.

Interested in our full data set? <a href="https://www.dropbox.com/s/be3qkszgp6a7690/Design%20Systems%20Survey%202018%20Raw%20Respondent%20Data.csv?dl=0">Download the CSV file on Dropbox</a>.

### Stay informed.

This survey is just the beginning. Now that we’ve gathered information on how people in our industry are building and maintaining design systems, we’ll continue to reflect on these findings and share additional articles and insights in the coming year.

Sign up to stay informed on how you can keep your organization’s design system&nbsp;on&nbsp;track.

    {{/markdown}}

    {{> patterns.content-sections.newsletter}}

    {{#markdown}}

### Get help.

Learning is at the core of what Sparkbox does. We offer training sessions and standalone workshops on a variety of subjects, including [design systems](https://seesparkbox.com/foundry/design_systems_workshop). If you are interested in helping your team level up on building and maintaining design systems, please <a href="mailto:info@heysparkbox.com?subject=2018%20Design%20Systems%20Survey%20Contact">reach out for more information</a>.

    {{/markdown}}

  </div>


</section>
