---
order: 60
---

<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box
    sectionTitle='Next Steps'}}

  <div class="obj-limit-width cmp-body-text">
    <h3>This is <em>dummy content</em> to show some realistic-ish content in each section.</h3>

    <p>This is a dummy paragraph to show realistic-ish content. Morbi ullamcorper molestie nisl a vestibulum. Maecenas enim massa, sagittis sed nulla eu, rutrum blandit leo. Nunc pulvinar dapibus tortor, id fringilla lacus molestie blandit. Curabitur sagittis massa ut elit imperdiet, vel dignissim libero convallis. Proin sapien nisi, condimentum nec maximus ut, finibus ac libero.</p>

    <p>Phasellus maximus, eros ac mollis scelerisque, velit urna vehicula massa, nec tempus nibh elit non eros. Duis accumsan justo vel nulla efficitur tincidunt in ac lacus. Sed tempus urna sit amet ipsum vestibulum fermentum. Suspendisse molestie ex at pretium ullamcorper.</p>

    <ul>
      <li><strong>Item one</strong> of the list, tempus urna sit amet ipsum vestibulum fermentum</li>
      <li><strong>Item two</strong> of the list, maximus, eros ac mollis scelerisque</li>
      <li><strong>Item three</strong> of the list, sagittis massa ut elit</li>
      <li><strong>Item four</strong> of the list, enim massa, sagittis sed nulla eu</li>
    </ul>
  </div>

  <div class="cmp-newsletter">
    <div class="obj-limit-width cmp-body-text">
      <h3>Stay Informed.</h3>
      <p>
        This survey is just the beginning. Now that we’ve gathered information on how 
        people in our industry are building and maintaining design systems, we’ll 
        continue to reflect on these findings and share additional articles and 
        insights in the coming year.
      </p>
      <p>
        Sign up to stay informed on how you can keep your organization’s design system&nbsp;on&nbsp;track.
      </p>
    </div>

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="cmp-newsletter__form obj-limit-width">
      <label for="mce-EMAIL" class="cmp-newsletter__input-label">Email Address</label>
      <form action="https://seesparkbox.us1.list-manage.com/subscribe/post?u=c2fcafb7ccc2db34e99075bb1&amp;id=afd992cd7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class="cmp-newsletter__input-and-button">
            <input type="email" value="" name="EMAIL" class="email cmp-newsletter__input" id="mce-EMAIL" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c2fcafb7ccc2db34e99075bb1_afd992cd7c" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button cmp-newsletter__button"></div>
          </div>
      </form>
    </div>
    <!--End mc_embed_signup-->

  </div>

</section>
