---
order: 60
---

<section>
  {{> patterns.content-sections.section-intro-box
    sectionTitle='Next Steps'}}
</section>

<div class="cmp-newsletter">
  <div class="cmp-newsletter__text">
    <h3>Stay Informed.</h3>
    <p>
      This survey is just the beginning. Now that we’ve gathered information on how 
      people in our industry are building and maintaining design systems, we’ll 
      continue to reflect on these findings and share additional articles and 
      insights in the coming year.
    </p>
    <p>
      Sign up to stay informed on how you can keep your organization’s design system on track.
    </p>
  </div>
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup" class="cmp-newsletter__form">
    <label for="mce-EMAIL" class="cmp-newsletter__input-label">Email Address</label>
    <form action="https://seesparkbox.us1.list-manage.com/subscribe/post?u=c2fcafb7ccc2db34e99075bb1&amp;id=afd992cd7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email cmp-newsletter__input" id="mce-EMAIL" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c2fcafb7ccc2db34e99075bb1_afd992cd7c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button cmp-newsletter__button"></div>
        </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
