<h2 class="cmp-section-intro-box cmp-section-intro-box--set-{{default sectionNumber 1}}">
  <span class="cmp-section-intro-box__roman-numeral">{{ numToRomanNumeral (default sectionNumber 1) }}</span>
  <span class="cmp-section-intro-box__text">{{{default sectionTitleHtml name 'Section Title' }}}</span>
</h2>
