---
order: 40
---

<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box}}

  <div class="obj-limit-width cmp-body-text">
    {{#markdown}}

<h3 class="obj-unveiler">More than _60% of respondents_ classified their design system as successful.</h3>

Of the 86 respondents with a design system at their organization, about 64% said their design system was either “successful” or “very successful”; 29% felt their design system was either “average” or “not very successful”; and 7% preferred not to say.

<h3 class="obj-unveiler">Successful design systems are _robust._</h3>

Design systems that were categorized as “successful” or “very successful” tended to include more elements—e.g. color systems, HTML code, typography, and voice and tone guidelines—than those that were categorized as less successful. “Successful” or “very successful” design systems had between six and 19 elements, with a median of 14 elements, while “average” or “unsuccessful” design systems were reported to have between two and 18 elements, with a median of 11.

**More than half** our respondents said their design systems include:

- Color and typography
- Form components
- Navigation 
- Grids, spacing, and layout systems 
- HTML, CSS, and JavaScript code
- Guidelines for usage, accessibility, and brand
- Design files
- Content blocks and example page templates

**Less than half** our respondents said their design systems include:

- Voice and tone guidelines
- Animation systems

<h3 class="obj-unveiler">Successful design systems are _maintained through teamwork._</h3>

Almost 80% of respondents who said their design system was successful also reported that their design system was maintained by a partially or fully dedicated team, rather than by a tool. Two respondents who selected “Other” clarified that they use a combination of partially and fully dedicated team members, while another said they use “All of the above.”

    {{/markdown}}

    <div class="obj-data-wrapper">
      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question (data "successful-data.maintenance.question")}}
      </div>
      <div class="obj-data-wrapper__data obj-unveiler">
        {{> patterns.data-types.bar-chart (data "successful-data.maintenance") }}
      </div>
    </div>

    {{#markdown}}

<h3 class="obj-unveiler">Successful design systems _bridge roles._</h3>

Successful design systems were most often used by designers, developers, and UX professionals, with these same roles also handling maintenance. This finding demonstrates that responsibility for successful design systems is often split among people who code, people who design, and people who communicate.

    {{/markdown}}

    <div class="obj-data-wrapper">
      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question (data "successful-data.responsibility.question")}}
      </div>
      <div class="obj-data-wrapper__data obj-unveiler">
        {{> patterns.data-types.bar-chart (data "successful-data.responsibility") }}
      </div>
    </div>


    <div class="obj-data-wrapper">
      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question (data "successful-data.users.question")}}
      </div>
      <div class="obj-data-wrapper__data obj-unveiler">
        {{> patterns.data-types.bar-chart (data "successful-data.users") }}
      </div>
    </div>

    {{#markdown}}

<h3 class="obj-unveiler">Successful design systems are _valued by those who create and use them._</h3>

The practitioners who build, maintain, and use design systems are also the ones who value them the most, with survey respondents reporting that designers, developers, and UX professionals value design systems more than marketing departments, managers, and executive leadership.

    {{/markdown}}

    <div class="obj-data-wrapper">
      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question (data "successful-data.valuation.question")}}
      </div>
      <div class="obj-data-wrapper__data obj-unveiler">
        {{> patterns.data-types.stacked-bar-chart (data "successful-data.valuation")}}
      </div>
    </div>

  </div>

</section>
