---
order: 40
---
{{#with (data "successful-data")}}
  <h2>What Made People Feel Their Design System was Successful?</h2>

  <h3>They have a lot of things in them</h3>

  <h3>They are maintained by teams</h3>
  <h4>(Q15, successful segment) How are you maintaining your design system?</h4>
  {{> patterns.data-types.bar-chart
      maintenance
  }}

  <h3>Design systems involve the whole team</h3>
  <h4>(Q10 successful segment). Who is primarily responsible for the design system?</h4>
  {{> patterns.data-types.bar-chart
      responsibility
  }}
  <h4>(Q12 successful) Who are the primary users of the design system?</h4>
  {{> patterns.data-types.bar-chart
      users
  }}
{{/with}}
