---
order: 20
---

<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box}}

  <div class="obj-limit-width cmp-body-text">
    <h3>We received 400 responses, <em>including 86 from in-house organizations</em> that use design systems.</h3>
    <p>Our qualitative survey was shared widely on Twitter, LinkedIn, and other channels by the web design and development community. By the time the survey closed, we received more than 400 responses.</p> 
    <p>We wanted to understand how internal teams, rather than agencies or consultancies, use design systems, so chose to focus on respondents from in-house organizations that use design systems, rather than style guides or pattern libraries. This reduced our analysis to the 86 responses that inform this report’s findings.</p>

    <h3>Responses came from <em>a variety of industries, organization sizes, and role&nbsp;types.</em></h3>
    <p>These 86 respondents came from organizations ranging from a handful of team members to those with more than 10,000 employees, and industries including education, finance, government, healthcare, entertainment, and retail. 87% of these respondents said they created their design system in-house, while just under 11% had help from an agency or consultant.</p> 

    <ul>
      <li><strong>58%</strong> of respondents were individual contributors to design systems (team members who may be developers, designers, user experience professionals, marketers, etc.)</li> 
      <li><strong>31%</strong> were managers</li>
      <li><strong>7%</strong> were executive leadership</li>
      <li><strong>4%</strong> were other</li>  
    </ul>
  </div>
</section>
