---
order: 50
---
<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box}}

  <div class="obj-limit-width cmp-body-text">
    <h3>This is <em>dummy content</em> to show some realistic-ish content in each section.</h3>

    <p>This is a dummy paragraph to show realistic-ish content. Morbi ullamcorper molestie nisl a vestibulum. Maecenas enim massa, sagittis sed nulla eu, rutrum blandit leo. Nunc pulvinar dapibus tortor, id fringilla lacus molestie blandit. Curabitur sagittis massa ut elit imperdiet, vel dignissim libero convallis. Proin sapien nisi, condimentum nec maximus ut, finibus ac libero.</p>

    <p>Phasellus maximus, eros ac mollis scelerisque, velit urna vehicula massa, nec tempus nibh elit non eros. Duis accumsan justo vel nulla efficitur tincidunt in ac lacus. Sed tempus urna sit amet ipsum vestibulum fermentum. Suspendisse molestie ex at pretium ullamcorper.</p>

    <ul>
      <li><strong>Item one</strong> of the list, tempus urna sit amet ipsum vestibulum fermentum</li>
      <li><strong>Item two</strong> of the list, maximus, eros ac mollis scelerisque</li>
      <li><strong>Item three</strong> of the list, sagittis massa ut elit</li>
      <li><strong>Item four</strong> of the list, enim massa, sagittis sed nulla eu</li>
    </ul>
  </div>

  <div class="obj-limit-width">
  {{#with (data "challenges-data")}}

    <strong>Design systems benefit from executive advocates</strong>
    <p>If you feel that your organization’s design system or library was not successful, what were the main reasons? </p>
    {{> patterns.data-types.bar-chart
        unsuccessful
    }}

    <strong>Design systems benefit from cross-departmental buy-in</strong>
    {{> patterns.data-types.stacked-bar-chart
        prevention
    }}

  {{/with}}
  </div>
</section>
