---
order: 30
---
<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box}}

  <div class="obj-limit-width cmp-body-text">
    {{#markdown}}

<h3 class="obj-unveiler">Design systems are thought to _increase consistency and efficiency,_ and lead to _gains in accessibility and team onboarding._</h3>

For our respondents, strong motivations to build a design system included the desire to increase user experience (UX) and user interface (UI) consistency, design and development efficiency, and code reusability. Another somewhat motivating factor was brand consistency.

When asked if there were other reasons for pursuing a design system, three mentioned web accessibility, and two noted that design systems reduce dependence on tribal knowledge, making it easier to onboard and educate new team members and vendors.

    {{/markdown}}

    <div class="obj-data-wrapper obj-unveiler">

      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question (data "motivation-data.motivators.question")}}
      </div>

      <div class="obj-data-wrapper__data">
        {{> patterns.data-types.stacked-bar-chart (data "motivation-data.motivators") }}
      </div>

    </div>


    {{#markdown}}

<h3 class="obj-unveiler">Design systems are often used to _manage multiple web properties._</h3>

73% of respondents’ organizations use their design system to manage more than one website or application.

    {{/markdown}}

    <div class="obj-data-wrapper obj-unveiler">

      <div class="obj-data-wrapper__question">
        {{> patterns.partials.survey-question
            text="Does your design system serve more than one web property?"
            numResponses=86
            type="Select one"
        }}
      </div>

      <div class="obj-data-wrapper__data">
        <table class="cmp-basic-table cmp-basic-table--center-align">

          <thead>
            <tr>
              <th>Options</th>
              <th>Responses</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Yes</td>
              <td>73.26%</td>
            </tr>
            <tr>
              <td>No</td>
              <td>25.58%</td>
            </tr>
            <tr>
              <td>Unsure</td>
              <td>1.16%</td>
            </tr>
          </tbody>

        </table>
      </div>

    </div>

  </div>
</section>
