---
order: 50
---
<section class="cmp-major-section cmp-major-section--section-{{sectionNumber}}" id="{{id}}">
  {{> patterns.content-sections.section-intro-box}}

  <div class="obj-limit-width cmp-body-text">
    {{#markdown}}

### Design systems benefit from _executive advocates._

Of the 86 survey respondents from organizations with design systems, just over 25% reported that their systems were either “average” or “unsuccessful.” Reasons for this perceived lack of success included the absence of an executive champion, as well as adoption and staffing difficulties, which may be tied to not having a leadership-level advocate.

    {{/markdown}}


    {{#with (data "challenges-data")}}

      <p>If you feel that your organization’s design system or library was not successful, what were the main reasons? </p>
      {{> patterns.data-types.bar-chart
          unsuccessful
      }}

{{#markdown}}
### Design systems benefit from _cross-departmental buy-in._

88 of our survey respondents work at organizations that do not yet have design systems in place. When asked what is blocking them from taking on this work, responses included not having the right talent in place, as well as combating perceptions of low value and lacking executive buy-in. Having a champion could help these organizations address and overcome these challenges.
{{/markdown}}

      <p>What, if anything, would keep your organization from creating a design system or a pattern library?</p>
      {{> patterns.data-types.stacked-bar-chart
          prevention
      }}

    {{/with}}
  </div>
</section>
